<div id="contents" role="main">
	<div class="pageWrapper showing" aria-hidden="false">
		<div xmlns="http://www.w3.org/1999/xhtml" id="Page_Page-ab30da36-4abd-47c6-9591-c5e14c3e8164" class="itemcount_1 layout_21 browser_chrome browserVer_67_0 platform_windows passage-collapsed passageShowing"
		 data-zoom="0">

			<div class="bigTable layout21">

				<div class="thePassage contextArea showing" title="Passage" aria-hidden="false" touch-action="pan-y" tabindex="0" lang="es-mx">
					<div class="toolsContainer passageTools" lang="es-mx">
						<a class="toolButton passageMenu" href="#" tabindex="0" aria-label="Menu" role="button" aria-haspopup="true" lang="es-mx"></a>
						<a href="#" role="button" class="toolButton expand-collapse-passage" lang="es-mx"></a>
					</div>
					<!-- onmouseover="fixHighlightFocus()" -->
					<div class="padding" lang="es-mx">
						<h2 lang="es-mx">Escogiendo una mascota
							<p style="color:#000000; " lang="es-mx">&nbsp;</p>
							<p class="languagedivider">&nbsp;</p>
							<span id="passage_3803_TAG_22" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1"
							 lang="en-us" data-wl-group="0">Picking</span> a
							<span id="passage_3803_TAG_23_BEGIN" lang="en-us">
								<span id="passage_3803_TAG_23" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us"
								 data-wl-group="1">Pet</span>
							</span>
							<p style="color:#000000; " lang="en-us">&nbsp;</p>
						</h2>
						<p style="line-height:0.2402in; color:#000000; " lang="es-mx">Tu clase está tratando de decidir qué tipo de animal quiere que sea la mascota de la clase. Tu maestra deja que la
							clase vote para escoger entre un pez dorado, una tortuga o un hámster.</p>
						<p style="line-height:0.2402in; color:#000000; "
						 lang="es-mx">&nbsp;</p>
						<p style="line-height:0.2402in; color:#000000; " lang="es-mx">Los 20 estudiantes de tu clase votaron por su primera preferencia y su segunda preferencia para la mascota de la clase.
							Los resultados se muestran en la tabla 1.</p>
						<p style="line-height:0.2402in; color:#000000; " lang="es-mx">&nbsp;</p>
						<p style="line-height:0.2402in; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; "
						 lang="es-mx">Tabla 1: Votos para mascota de la clase</p>
						<p style="line-height:0.2402in; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; "
						 lang="es-mx">&nbsp;</p>
						<div align="left" lang="es-mx">
							<table class="newtable" id="passage_3803_Table2" style="width:19.4292em; border-spacing:0;" cellpadding="0" cellspacing="0"
							 lang="es-mx">
								<colgroup style="width:5.2206em; " lang="es-mx"></colgroup>
								<colgroup span="2" style="width:7.1040em; " lang="es-mx"></colgroup>
								<thead lang="es-mx">
									<tr lang="es-mx">
										<th scope="col" style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-top:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Estudiante</p>
										</th>
										<th scope="col" style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-top:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Primera preferencia</p>
										</th>
										<th scope="col" style="vertical-align:middle; padding:0.2292em;  border:0.06em solid #000000;" lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-weight:bold; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Segunda preferencia</p>
										</th>
									</tr>
								</thead>
								<tbody lang="es-mx">
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">1</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Hámster</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">2</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Hámster</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">3</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">4</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Hámster</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">5</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">6</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">7</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Hámster</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">8</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">9</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Hámster</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">10</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Hámster</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">11</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Hámster</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">12</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">13</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Hámster</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">14</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Hámster</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">15</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">16</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">17</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">18</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">19</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Tortuga</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Hámster</p>
										</td>
									</tr>
									<tr lang="es-mx">
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">20</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Pez dorado</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="es-mx">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="es-mx">Hámster</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<p style="" lang="es-mx">&nbsp;</p>
						<p class="languagedivider">&nbsp;</p>
						<p style="line-height:0.2402in; color:#000000; " lang="en-us">Your class
							<span id="passage_3803_TAG_24" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="3"
							 lang="en-us" data-wl-group="2">is trying</span> to decide what
							<span id="passage_3803_TAG_25" class="its-tag" data-tag="word" data-tag-boundary="start"
							 data-word-index="4" lang="en-us" data-wl-group="3">type</span> of animal
							<span id="passage_3803_TAG_26" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="5"
							 lang="en-us" data-wl-group="4">to get</span> for the class
							<span id="passage_3803_TAG_27" class="its-tag" data-tag="word" data-tag-boundary="start"
							 data-word-index="6" lang="en-us" data-wl-group="5">pet</span>. Your teacher is
							<span id="passage_3803_TAG_28" class="its-tag" data-tag="word" data-tag-boundary="start"
							 data-word-index="7" lang="en-us" data-wl-group="6">letting</span> the class
							<span id="passage_3803_TAG_29" class="its-tag" data-tag="word" data-tag-boundary="start"
							 data-word-index="8" lang="en-us" data-wl-group="7">vote</span>
							<span id="passage_3803_TAG_30" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="9"
							 lang="en-us" data-wl-group="8">to choose</span> a
							<span id="passage_3803_TAG_31" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
							 lang="en-us" data-wl-group="9">goldfish</span>, a
							<span id="passage_3803_TAG_32" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
							 lang="en-us" data-wl-group="10">turtle</span>, or a
							<span id="passage_3803_TAG_33" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
							 lang="en-us" data-wl-group="11">hamster</span> as the class pet.</p>
						<p style="line-height:0.2402in; color:#000000; " lang="en-us">&nbsp;</p>
						<p style="line-height:0.2402in; color:#000000; " lang="en-us">
							<span id="passage_3803_TAG_34" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="13" lang="en-us"
							 data-wl-group="12">All</span> 20 students in your class
							<span id="passage_3803_TAG_35" class="its-tag" data-tag="word" data-tag-boundary="start"
							 data-word-index="14" lang="en-us" data-wl-group="13">voted</span> for
							<span id="passage_3803_TAG_36" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="15"
							 lang="en-us" data-wl-group="14">both</span> their
							<span id="passage_3803_TAG_37" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="16"
							 lang="en-us" data-wl-group="15">1st</span>
							<span id="passage_3803_TAG_38" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="17"
							 lang="en-us" data-wl-group="16">choice</span> and their
							<span id="passage_3803_TAG_39" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="18"
							 lang="en-us" data-wl-group="17">2nd</span>
							<span id="passage_3803_TAG_40" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="17"
							 lang="en-us" data-wl-group="18">choice</span> for the class
							<span id="passage_3803_TAG_41" class="its-tag" data-tag="word" data-tag-boundary="start"
							 data-word-index="6" lang="en-us" data-wl-group="19">pet</span>. The
							<span id="passage_3803_TAG_42" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="19"
							 lang="en-us" data-wl-group="20">results</span> are shown in Table 1.</p>
						<p style="line-height:0.2402in; color:#000000; " lang="en-us">&nbsp;</p>
						<p style="line-height:0.2402in; color:#000000; " lang="en-us">
							<span id="passage_3803_TAG_2_BEGIN" lang="en-us">
								<span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:bold; background-color:transparent; "
								 lang="en-us">Table</span>
							</span>
							<span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:bold; background-color:transparent; "
							 lang="en-us"> 1:</span>
							<span style="font-variant:normal; text-transform:none; font-weight:normal; background-color:transparent; "
							 lang="en-us"> </span>
							<span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:bold; background-color:transparent; "
							 lang="en-us">Class </span>
							<span id="passage_3803_TAG_95" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2"
							 lang="en-us" data-wl-group="21">
								<span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:bold; background-color:transparent; "
								 lang="en-us">Pet</span>
							</span>
							<span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:bold; background-color:transparent; "
							 lang="en-us"> </span>
							<span id="passage_3803_TAG_3_BEGIN" lang="en-us">
								<span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:bold; background-color:transparent; "
								 lang="en-us">Votes</span>
							</span>
						</p>
						<p style="line-height:0.2402in; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; "
						 lang="en-us">&nbsp;</p>
						<div align="left" lang="en-us">
							<table class="newtable" id="passage_3803_Table1" style="width:19.4292em; border-spacing:0;" cellpadding="0" cellspacing="0"
							 lang="en-us">
								<colgroup style="width:5.2206em; " lang="en-us"></colgroup>
								<colgroup span="2" style="width:7.1040em; " lang="en-us"></colgroup>
								<thead lang="en-us">
									<tr lang="en-us">
										<th scope="col" style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-top:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_4_BEGIN" lang="en-us">Student</span>
											</p>
										</th>
										<th scope="col" style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-top:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_5_BEGIN" lang="en-us">1st</span>
												<span id="passage_3803_TAG_53" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="17"
												 lang="en-us" data-wl-group="22">Choice</span>
											</p>
										</th>
										<th scope="col" style="vertical-align:middle; padding:0.2292em;  border:0.06em solid #000000;" lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_7_BEGIN" lang="en-us">
													<span style="font-weight:bold; " lang="en-us">2nd</span>
												</span>
												<span id="passage_3803_TAG_54" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="17"
												 lang="en-us" data-wl-group="23">
													<span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:bold; background-color:transparent; "
													 lang="en-us">Choice</span>
												</span>
											</p>
										</th>
									</tr>
								</thead>
								<tbody lang="en-us">
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_9_BEGIN" lang="en-us">1</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_55" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="24">Turtle</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_69" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
												 lang="en-us" data-wl-group="25">Hamster</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_10_BEGIN" lang="en-us">2</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_80" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="26">Goldfish</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_70" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
												 lang="en-us" data-wl-group="27">Hamster</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_11_BEGIN" lang="en-us">3</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_81" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="28">Goldfish</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_56" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="29">Turtle</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_12_BEGIN" lang="en-us">4</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_71" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
												 lang="en-us" data-wl-group="30">Hamster</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_57" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="31">Turtle</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_13_BEGIN" lang="en-us">5</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_82" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="32">Goldfish</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_58" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="33">Turtle</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_16_BEGIN" lang="en-us">6</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_59" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="34">Turtle</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_83" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="35">Goldfish</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_17_BEGIN" lang="en-us">7</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_72" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
												 lang="en-us" data-wl-group="36">Hamster</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_84" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="37">Goldfish</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_18_BEGIN" lang="en-us">8</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_60" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="38">Turtle</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_85" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="39">Goldfish</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_19_BEGIN" lang="en-us">9</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_86" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="40">Goldfish</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_73" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
												 lang="en-us" data-wl-group="41">Hamster</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_20_BEGIN" lang="en-us">10</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_87" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="42">Goldfish</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_74" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
												 lang="en-us" data-wl-group="43">Hamster</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_43_BEGIN" lang="en-us">11</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_61" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="44">Turtle</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_75" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
												 lang="en-us" data-wl-group="45">Hamster</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_44_BEGIN" lang="en-us">12</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_62" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="46">Turtle</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_88" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="47">Goldfish</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_45_BEGIN" lang="en-us">13</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_76" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
												 lang="en-us" data-wl-group="48">Hamster</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_63" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="49">Turtle</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_46_BEGIN" lang="en-us">14</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_77" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
												 lang="en-us" data-wl-group="50">Hamster</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_89" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="51">Goldfish</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_47_BEGIN" lang="en-us">15</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_64" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="52">Turtle</span>
											</p>
										</td>
										<td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_90" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="53">Goldfish</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_48_BEGIN" lang="en-us">16</span>
											</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_91" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="54">Goldfish</span>
											</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_65" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="55">Turtle</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_49_BEGIN" lang="en-us">17</span>
											</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_66" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="56">Turtle</span>
											</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_92" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="57">Goldfish</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_50_BEGIN" lang="en-us">18</span>
											</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_68" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="58">Turtle</span>
											</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_93" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="59">Goldfish</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_51_BEGIN" lang="en-us">19</span>
											</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_67" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11"
												 lang="en-us" data-wl-group="60">Turtle</span>
											</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_78" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
												 lang="en-us" data-wl-group="61">Hamster</span>
											</p>
										</td>
									</tr>
									<tr lang="en-us">
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="en-us">
												<span id="passage_3803_TAG_52_BEGIN" lang="en-us">20</span>
											</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_94" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10"
												 lang="en-us" data-wl-group="62">Goldfish</span>
											</p>
										</td>
										<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
										 lang="en-us">
											<p style="line-height:0.2402in; text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
											 lang="en-us">
												<span id="passage_3803_TAG_79" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12"
												 lang="en-us" data-wl-group="63">Hamster</span>
											</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<p style="line-height:0.2402in; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; "
						 lang="en-us"> </p>
					</div>
				</div>
				<span class="maskQuestions"></span>
				<div class="theQuestions">
					<div class="padding">
						<!-- what do we do about each question component? just keep as is, and then add new answer varioations ? -->
						<div id="Item_3695" class="questionAnswerGroup itemContainer format_ti response_tableinput firstItem lastItem showing" aria-hidden="false"
						 touch-action="pan-y" tabindex="0" lang="es-mx">
							<div class="questionContainer" lang="es-mx">
								<div class="toolsContainer itemTools markComment" lang="es-mx">
									<a class="toolButton itemMenu" href="#" tabindex="0" aria-label="Menu" role="button" aria-haspopup="true" lang="es-mx"></a>
								</div>
								<h2 id="QuestionNumber_3695" class="questionNumber" lang="es-mx">3695</h2>

								<div id="Stem_3695" class="stemContainer" lang="es-mx">
									<p style="line-height:0.2402in; color:#000000; " lang="es-mx">Completa la siguiente tabla de frecuencia usando los datos que muestra la
										<span style="font-weight:bold; " lang="es-mx">Tabla 1</span>.</p>
									<p class="languagedivider">&nbsp;</p>
									<p style="line-height:0.2402in; color:#000000; " lang="en-us">Using the class
										<span id="item_3695_TAG_8" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1"
										 lang="en-us" data-wl-group="64">data</span> shown in
										<span style="font-weight:bold; " lang="en-us">Table 1</span>, complete the following
										<span id="item_3695_TAG_9" class="its-tag" data-tag="word" data-tag-boundary="start"
										 data-word-index="2" lang="en-us" data-wl-group="65">frequency</span>
										<span id="item_3695_TAG_7_BEGIN" lang="en-us">table.</span>
									</p>
									<div align="left" lang="en-us"></div>
								</div>
								<!-- binding="AIR.Common.Web.taglib.PlaceHolder@5239a858": do not bind here. implement IUiRepeatDataElement interface instead-->
							</div>
							<div class="answerContainer" lang="es-mx">

								<div id="TableContainer_3695" class="TableContainer" lang="es-mx">
									<table class="tableItem" style="width:24.4998em; border-spacing:0;" cellpadding="0" cellspacing="0" role="group"
									 aria-label="Fill in the table." lang="es-mx">
										<colgroup style="width:7.0002em; " lang="es-mx"></colgroup>
										<colgroup style="width:8.6664em; " lang="es-mx"></colgroup>
										<colgroup style="width:8.8332em; " lang="es-mx"></colgroup>
										<thead lang="es-mx">
											<tr lang="es-mx">
												<th scope="col" data-its-identifier="col0" style="padding:0.2292em;  border-left:0.06em solid #000000; border-top:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
												 lang="es-mx">
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="es-mx">Mascota</p>
													<p class="languagedivider">&nbsp;</p>
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="en-us">Pet</p>
												</th>
												<th scope="col" data-its-identifier="col1" style="padding:0.2292em;  border-left:0.06em solid #000000; border-top:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
												 lang="es-mx">
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="es-mx">Votos totales de primera preferencia</p>
													<p class="languagedivider">&nbsp;</p>
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="en-us">Total 1st Choice Votes</p>
												</th>
												<th scope="col" data-its-identifier="col2" style="padding:0.2292em;  border:0.06em solid #000000;vertical-align:top; "
												 lang="es-mx">
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="es-mx">Votos totales de segunda preferencia</p>
													<p class="languagedivider">&nbsp;</p>
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="en-us">Total 2nd Choice Votes</p>
												</th>
											</tr>
										</thead>
										<tbody lang="es-mx">
											<tr lang="es-mx">
												<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
												 lang="es-mx">
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="es-mx">Pez dorado</p>
													<p class="languagedivider">&nbsp;</p>
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="en-us">Goldfish</p>
												</td>
												<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
												 class="ti-editable" lang="es-mx">
													<p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">
														<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="ti-input"
														 tabindex="0" lang="es-mx" style="text-align: center;">
													</p>
												</td>
												<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
												 class="ti-editable" lang="es-mx">
													<p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">
														<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="ti-input"
														 tabindex="0" lang="es-mx" style="text-align: center;">
													</p>
												</td>
											</tr>
											<tr lang="es-mx">
												<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
												 lang="es-mx">
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="es-mx">Hámster</p>
													<p class="languagedivider">&nbsp;</p>
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="en-us">Hamster</p>
												</td>
												<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
												 class="ti-editable" lang="es-mx">
													<p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">
														<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="ti-input"
														 tabindex="0" lang="es-mx" style="text-align: center;">
													</p>
												</td>
												<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
												 class="ti-editable" lang="es-mx">
													<p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">
														<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="ti-input"
														 tabindex="0" lang="es-mx" style="text-align: center;">
													</p>
												</td>
											</tr>
											<tr lang="es-mx">
												<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
												 lang="es-mx">
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="es-mx">Tortuga</p>
													<p class="languagedivider">&nbsp;</p>
													<p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
													 lang="en-us">Turtle</p>
												</td>
												<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
												 class="ti-editable" lang="es-mx">
													<p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">
														<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="ti-input"
														 tabindex="0" lang="es-mx" style="text-align: center;">
													</p>
												</td>
												<td style="padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;vertical-align:top; "
												 class="ti-editable" lang="es-mx">
													<p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; " lang="es-mx">
														<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="ti-input"
														 tabindex="0" lang="es-mx" style="text-align: center;">
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>



						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>