@RenderSection("head", true)
<div id="contents" role="main">
    <div class="pageWrapper showing" aria-hidden="false">
        <div xmlns="http://www.w3.org/1999/xhtml" id="Page_Page-5a3a9d6d-bb54-4a02-b2b7-cb005246e5de" class="subject_MATH grade_11 itemcount_1 layout_22 browser_chrome browserVer_66_0 platform_windows"
            data-zoom="0">
            <div id="Item_3318" class="multipleChoiceItem itemContainer format_gi response_grid showing activeItem contextAreaFocus"
                aria-hidden="false" touch-action="pan-y" tabindex="0" lang="es-mx">

                <table cellspacing="0" cellpadding="0" width="100%" class="bigTable noColumns" lang="es-mx">
                    <tbody lang="es-mx">
                        <tr lang="es-mx">
                            <td valign="top" align="center" lang="es-mx">
                                <div class="theQuestions" lang="es-mx">
                                    <span class="padding" lang="es-mx">
                                        <!-- wraps layouts -->

                                        <table class="structure layout22" lang="es-mx">
                                            <tbody lang="es-mx">
                                                <tr lang="es-mx">
                                                    <td lang="es-mx">

                                                        <div id="questionCell" class="questionCell" lang="es-mx">
                                                            <div class="toolsContainer itemTools markComment" lang="es-mx">
                                                                <a class="toolButton itemMenu" href="#" tabindex="0" aria-label="Menu" role="button" aria-haspopup="true" lang="es-mx"></a>
                                                            </div>
                                                            <p class="itemToolsBreak" lang="es-mx">&nbsp;</p>
                                                            <h2 id="QuestionNumber_3318" class="questionNumber" lang="es-mx">3318</h2>

                                                            <div id="Stem_3318" class="stemContainer" lang="es-mx">
                                                                <p style="" lang="es-mx">Emily tiene un certificado de regalo por $10 para usarlo
                                                                    en una tienda en línea. Puede comprar canciones por $1
                                                                    cada una o programas de televisión por $3 cada uno. Quiere
                                                                    gastar exactamente $10.</p>
                                                                <p style="font-style:italic; " lang="es-mx">&nbsp;</p>
                                                                <p style="font-style:italic; font-weight:bold; " lang="es-mx">Parte A</p>
                                                                <p style="" lang="es-mx">Crea una ecuación para mostrar la relación entre el número
                                                                    de canciones,
                                                                    <span style="font-style:italic; " lang="es-mx">x</span>, que Emily puede comprar y el número de programas
                                                                    de televisión ,
                                                                    <span style="font-style:italic; " lang="es-mx">y</span>
                                                                    <span style="font-style:normal; " lang="es-mx">,</span> que puede comprar.</p>
                                                                <p style="font-style:italic; " lang="es-mx">&nbsp;</p>
                                                                <p style="font-style:italic; font-weight:bold; " lang="es-mx">Parte B</p>
                                                                <p style="" lang="es-mx">Usa la herramienta “Agregar punto” para trazar
                                                                    <span style="font-weight:bold; " lang="es-mx">todas</span> las combinaciones posibles de canciones
                                                                    y programas de televisión que Emily puede comprar.</p>
                                                                <p class="languagedivider">&nbsp;</p>
                                                                <p style="" lang="en-us">Emily has a
                                                                    <a id="word-list-2" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start" data-word-index="5" lang="en-us"
                                                                        data-wl-group="0" tabindex="0" title="lookup word" role="button">gift certificate</a> for
                                                                    <span id="item_3318_TAG_1_BEGIN" lang="en-us">$10</span> to use at an online store. She can purchase
                                                                    songs for
                                                                    <span id="item_3318_TAG_2_BEGIN" lang="en-us">$1</span> each or episodes of TV shows for
                                                                    <span id="item_3318_TAG_3_BEGIN" lang="en-us">$3</span> each. She wants to
                                                                    <a id="word-list-1" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start" data-word-index="7" lang="en-us"
                                                                        data-wl-group="1" tabindex="0" title="lookup word" role="button">spend</a> exactly
                                                                    <span id="item_3318_TAG_4_BEGIN" lang="en-us">$10.</span>
                                                                </p>
                                                                <p style="font-style:italic; " lang="en-us">&nbsp;</p>
                                                                <p style="font-style:italic; font-weight:bold; " lang="en-us">
                                                                    <span id="item_3318_TAG_5_BEGIN" lang="en-us">Part A</span>
                                                                </p>
                                                                <p style="" lang="en-us">Create an equation to show the
                                                                    <a id="word-list-0" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start" data-word-index="8" lang="en-us"
                                                                        data-wl-group="2" tabindex="0" title="lookup word" role="button">relationship</a> between the number of songs,
                                                                    <span style="font-style:italic; " lang="en-us">x</span>, Emily can purchase and the number of episodes
                                                                    of TV shows,
                                                                    <span style="font-style:italic; " lang="en-us">y</span>
                                                                    <span style="font-style:normal; " lang="en-us">,</span> she can purchase.</p>
                                                                <p style="font-style:italic; " lang="en-us">&nbsp;</p>
                                                                <p style="font-style:italic; font-weight:bold; " lang="en-us">
                                                                    <span id="item_3318_TAG_6_BEGIN" lang="en-us">Part B</span>
                                                                </p>
                                                                <p style="" lang="en-us">
                                                                    <span id="item_3318_TAG_13" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="3">Use</span> the
                                                                    <span id="item_3318_TAG_14" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="4">Add Point tool</span> to
                                                                    <span id="item_3318_TAG_15" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="3" lang="en-us" data-wl-group="5">plot</span>
                                                                    <span id="item_3318_TAG_16" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="4" lang="en-us" data-wl-group="6">
                                                                        <span style="font-weight:bold; " lang="en-us">all</span>
                                                                    </span> possible combinations of songs and TV shows Emily can
                                                                    <span id="item_3318_TAG_8_BEGIN" lang="en-us">purchase.</span>
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg"
                                                            id="grid" width="600" height="500" preserveAspectRatio="none" overflow="visible">

                                                            <g id="groupWrapper" transform="translate(0.5, 0.5) scale(1)">

                                                                <!-- CANVAS -->
                                                                <g id="groupCanvas" transform="translate(80, 25)" cursor="default">
                                                                    <rect id="backgroundCanvas" x="-1" y="-1" width="502" height="411" stroke="black" style="fill:white;stroke-width:1;fill-opacity:0;stroke-opacity:1"
                                                                    />
                                                                    <g id="gridlines" style="fill:none;stroke:blue;stroke-width:1;opacity:0.2">
                                                                        <line x1="0" y1="0" x2="0" y2="411" />
                                                                        <line x1="16" y1="0" x2="16" y2="411" />
                                                                        <line x1="32" y1="0" x2="32" y2="411" />
                                                                        <line x1="48" y1="0" x2="48" y2="411" />
                                                                        <line x1="64" y1="0" x2="64" y2="411" />
                                                                        <line x1="80" y1="0" x2="80" y2="411" />
                                                                        <line x1="96" y1="0" x2="96" y2="411" />
                                                                        <line x1="112" y1="0" x2="112" y2="411" />
                                                                        <line x1="128" y1="0" x2="128" y2="411" />
                                                                        <line x1="144" y1="0" x2="144" y2="411" />
                                                                        <line x1="160" y1="0" x2="160" y2="411" />
                                                                        <line x1="176" y1="0" x2="176" y2="411" />
                                                                        <line x1="192" y1="0" x2="192" y2="411" />
                                                                        <line x1="208" y1="0" x2="208" y2="411" />
                                                                        <line x1="224" y1="0" x2="224" y2="411" />
                                                                        <line x1="240" y1="0" x2="240" y2="411" />
                                                                        <line x1="256" y1="0" x2="256" y2="411" />
                                                                        <line x1="272" y1="0" x2="272" y2="411" />
                                                                        <line x1="288" y1="0" x2="288" y2="411" />
                                                                        <line x1="304" y1="0" x2="304" y2="411" />
                                                                        <line x1="320" y1="0" x2="320" y2="411" />
                                                                        <line x1="336" y1="0" x2="336" y2="411" />
                                                                        <line x1="352" y1="0" x2="352" y2="411" />
                                                                        <line x1="368" y1="0" x2="368" y2="411" />
                                                                        <line x1="384" y1="0" x2="384" y2="411" />
                                                                        <line x1="400" y1="0" x2="400" y2="411" />
                                                                        <line x1="416" y1="0" x2="416" y2="411" />
                                                                        <line x1="432" y1="0" x2="432" y2="411" />
                                                                        <line x1="448" y1="0" x2="448" y2="411" />
                                                                        <line x1="464" y1="0" x2="464" y2="411" />
                                                                        <line x1="480" y1="0" x2="480" y2="411" />
                                                                        <line x1="496" y1="0" x2="496" y2="411" />
                                                                        <line x1="0" y1="0" x2="502" y2="0" />
                                                                        <line x1="0" y1="16" x2="502" y2="16" />
                                                                        <line x1="0" y1="32" x2="502" y2="32" />
                                                                        <line x1="0" y1="48" x2="502" y2="48" />
                                                                        <line x1="0" y1="64" x2="502" y2="64" />
                                                                        <line x1="0" y1="80" x2="502" y2="80" />
                                                                        <line x1="0" y1="96" x2="502" y2="96" />
                                                                        <line x1="0" y1="112" x2="502" y2="112" />
                                                                        <line x1="0" y1="128" x2="502" y2="128" />
                                                                        <line x1="0" y1="144" x2="502" y2="144" />
                                                                        <line x1="0" y1="160" x2="502" y2="160" />
                                                                        <line x1="0" y1="176" x2="502" y2="176" />
                                                                        <line x1="0" y1="192" x2="502" y2="192" />
                                                                        <line x1="0" y1="208" x2="502" y2="208" />
                                                                        <line x1="0" y1="224" x2="502" y2="224" />
                                                                        <line x1="0" y1="240" x2="502" y2="240" />
                                                                        <line x1="0" y1="256" x2="502" y2="256" />
                                                                        <line x1="0" y1="272" x2="502" y2="272" />
                                                                        <line x1="0" y1="288" x2="502" y2="288" />
                                                                        <line x1="0" y1="304" x2="502" y2="304" />
                                                                        <line x1="0" y1="320" x2="502" y2="320" />
                                                                        <line x1="0" y1="336" x2="502" y2="336" />
                                                                        <line x1="0" y1="352" x2="502" y2="352" />
                                                                        <line x1="0" y1="368" x2="502" y2="368" />
                                                                        <line x1="0" y1="384" x2="502" y2="384" />
                                                                        <line x1="0" y1="400" x2="502" y2="400" />
                                                                    </g>
                                                                    <g id="staticimages">
                                                                        <image id="backgroundimage_1_1" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_20633_background_png16malpha.png"
                                                                            x="0" y="0" width="500" height="410" display="inline"
                                                                        />
                                                                        <image id="staticimage_1_3" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_0_png16malpha.png"
                                                                            x="31" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_5" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_1_png16malpha.png"
                                                                            x="31" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_7" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_2_png16malpha.png"
                                                                            x="31" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_9" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_3_png16malpha.png"
                                                                            x="31" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_11" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_4_png16malpha.png"
                                                                            x="31" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_13" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_5_png16malpha.png"
                                                                            x="31" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_15" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_6_png16malpha.png"
                                                                            x="31" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_17" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_7_png16malpha.png"
                                                                            x="31" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_19" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_8_png16malpha.png"
                                                                            x="31" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_21" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_9_png16malpha.png"
                                                                            x="31" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_23" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_10_png16malpha.png"
                                                                            x="25" y="58" width="23" height="22" display="none"
                                                                        />
                                                                        <image id="staticimage_1_25" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_0_png16malpha.png"
                                                                            x="105" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_27" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_1_png16malpha.png"
                                                                            x="105" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_29" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_2_png16malpha.png"
                                                                            x="105" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_31" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_3_png16malpha.png"
                                                                            x="105" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_33" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_4_png16malpha.png"
                                                                            x="105" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_35" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_5_png16malpha.png"
                                                                            x="105" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_37" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_6_png16malpha.png"
                                                                            x="105" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_39" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_7_png16malpha.png"
                                                                            x="105" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_41" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_8_png16malpha.png"
                                                                            x="105" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_43" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_9_png16malpha.png"
                                                                            x="105" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_45" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_10_png16malpha.png"
                                                                            x="99" y="58" width="23" height="22" display="none"
                                                                        />
                                                                        <image id="staticimage_1_47" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_0_png16malpha.png"
                                                                            x="176" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_49" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_1_png16malpha.png"
                                                                            x="176" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_51" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_2_png16malpha.png"
                                                                            x="176" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_53" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_3_png16malpha.png"
                                                                            x="176" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_55" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_4_png16malpha.png"
                                                                            x="176" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_57" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_5_png16malpha.png"
                                                                            x="176" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_59" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_6_png16malpha.png"
                                                                            x="176" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_61" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_7_png16malpha.png"
                                                                            x="176" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_63" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_8_png16malpha.png"
                                                                            x="176" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_65" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_9_png16malpha.png"
                                                                            x="176" y="58" width="12" height="20" display="none"
                                                                        />
                                                                        <image id="staticimage_1_67" transform="translate(-0.5, -0.5)"
                                                                            xlink:href="http://siw-ivs-stage.smarterbalanced.org/Pages/API/Resources.axd?tag=ENU&amp;path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9EFa%2BxI4wraAZQ3Si5RHhnw%3D%3D&amp;file=item_3318_v0_palette_10_png16malpha.png"
                                                                            x="170" y="58" width="23" height="22" display="none"
                                                                        />
                                                                    </g>
                                                                    <!-- background/region images -->
                                                                    <g id="snapPoints" />
                                                                    <g id="shapes">
                                                                        <rect id="rect_1_2" x="26" y="108" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_4" x="26" y="130" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_6" x="26" y="152" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_8" x="26" y="174" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_10" x="26" y="196" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_12" x="26" y="218" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_14" x="26" y="242" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_16" x="26" y="264" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_18" x="26" y="287" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_20" x="26" y="309" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_22" x="26" y="332" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_24" x="99" y="107" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_26" x="99" y="130" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_28" x="99" y="151" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_30" x="99" y="174" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_32" x="100" y="197" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_34" x="100" y="219" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_36" x="100" y="242" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_38" x="100" y="265" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_40" x="100" y="287" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_42" x="100" y="309" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_44" x="100" y="331" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_46" x="171" y="108" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_48" x="170" y="130" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_50" x="171" y="152" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_52" x="171" y="175" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_54" x="171" y="197" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_56" x="171" y="220" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_58" x="171" y="242" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_60" x="171" y="264" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_62" x="171" y="287" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_64" x="171" y="309" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                        <rect id="rect_1_66" x="171" y="331" width="20" height="20"
                                                                            fill="white" fill-opacity="0" stroke="white" stroke-width="0"
                                                                            stroke-opacity="0" stroke-dasharray="" display="inline"
                                                                        />
                                                                    </g>
                                                                    <g id="images" />
                                                                    <!-- canvas images -->
                                                                    <g id="imageborders" />
                                                                    <g id="lines" />
                                                                    <g id="arrows" />
                                                                    <g id="points" />
                                                                    <g id="labels" />

                                                                    <!-- editor -->
                                                                    <g id="mergeLines" />
                                                                    <g id="crtool">
                                                                        <g id="crtool_rectangle" style="fill:none;stroke:red;stroke-width:1" />
                                                                        <g id="crtool_circle" style="fill:none;stroke:red;stroke-width:1" />
                                                                        <g id="crtool_snapcenter" style="fill:blue;stroke:black;stroke-width:0;opacity:1" />
                                                                        <g id="crtool_snapcircle" style="fill:none;stroke:blue;stroke-width:1;opacity:0.5;stroke-dasharray: 2, 5;" />
                                                                    </g>
                                                                </g>

                                                                <!-- PALETTE -->
                                                                <g id="groupPalette" display="none">
                                                                    <rect id="backgroundPalette" x="0" y="0" width="75" height="470" stroke="black" style="fill:white;stroke-width:1;fill-opacity:0;stroke-opacity:1"
                                                                    />
                                                                    <rect id="selectedPalette" x="0" y="0" stroke="black" style="display:none;fill:#BBCAE2;stroke:#8492C9;stroke-width:1" />
                                                                    <g clip-path="url(#clippalette)" id="paletteImages" transform="translate(0, 0)" />
                                                                    <g id="paletteDragging" />
                                                                    <g>
                                                                        <path id="panup" style="display:none" fill="url(#buttons_background_up)" stroke="#1f5181" stroke-width="1" d="M 35 1 L 45 14 L 25 14"
                                                                        />
                                                                        <path id="pandown" style="display:none" fill="url(#buttons_background_up)" stroke="#1f5181" stroke-width="1" d="M 25 457 L 45 457 L 35 470"
                                                                        />
                                                                    </g>
                                                                    <clipPath id="clippalette">
                                                                        <rect id="palettecliprect" x="0" y="0" width="75" height="470" />
                                                                    </clipPath>
                                                                </g>

                                                                <!-- FEEDBACK -->
                                                                <g id="groupFeedback" transform="translate(80, 440)" display="inline">
                                                                    <rect id="backgroundFeedback" x="0" y="0" width="502" height="30" style="fill:white;stroke:lightblue;stroke-width:1;fill-opacity:0;stroke-opacity:1"
                                                                    />
                                                                    <text id="feedback" x="5" y="18" font-family="Arial" font-size="12" fill="blue"></text>
                                                                    <text id="coordinates" x="450" y="18" font-family="Arial" font-size="12" fill="black" />
                                                                </g>

                                                                <!-- TOOLBAR -->
                                                                <g id="groupToolbar" transform="translate(80, 0)" display="inline">
                                                                    <rect id="backgroundToolbar" x="0" y="0" width="502" height="21" stroke="white" style="fill:white;stroke-width:1;fill-opacity:0;stroke-opacity:1"
                                                                    />

                                                                    <!-- BUTTONS -->
                                                                    <g id="buttons">

                                                                        <defs>
                                                                            <linearGradient id="buttons_background_up" x1="0%" y1="100%" x2="0%" y2="0%">
                                                                                <stop offset="0%" style="stop-color:#1F5181" />
                                                                                <stop offset="40%" style="stop-color:#3F98C6" />
                                                                            </linearGradient>

                                                                            <linearGradient id="buttons_background_selected" x1="0%" y1="100%" x2="0%" y2="0%">
                                                                                <stop offset="30%" style="stop-color:#CDCDCD" />
                                                                                <stop offset="90%" style="stop-color:#FFFFFF" />
                                                                            </linearGradient>

                                                                        </defs>

                                                                        <!-- BUTTON: MOVE -->
                                                                        <g id="button_move" transform="translate(5, 2)" style="">

                                                                            <circle cx="375.685" cy="290" r="8" fill="url(#buttons_background_selected)" stroke="#1f5181" stroke-width="1" transform="translate(-367.185,-281.5)"
                                                                            />

                                                                            <linearGradient id="button_icon_move_2" x1="0%" y1="0%" x2="0%" y2="100%">
                                                                                <stop offset="25%" stop-color="#FEC2B4" />
                                                                                <stop offset="60%" stop-color="#FB532A" />
                                                                            </linearGradient>
                                                                            <path fill="url(#button_icon_move_2)" d="m 4.8368824,4.87891 3.04944,7.24372 1.55146,-1.55146 1.8600496,1.86005 1.23458,-1.23443 -1.8602,-1.86019 1.58486,-1.58478 z"
                                                                            />
                                                                        </g>

                                                                        <!-- BUTTON: DELETE -->
                                                                        <g id="button_delete" transform="translate(28, 2)" style="">

                                                                            <!-- BUTTON -->
                                                                            <path fill="url(#buttons_background_up)" stroke="#1f5181" stroke-width="1" d="m 99.490338,8.5084 c 0,6.27691 -6.31799,7.9984 -7.28332,7.9984 H 7.574822 c -0.965331,0 -7.06482201,-1.45667 -7.06482201,-7.9984 0,-6.54173 6.09949101,-7.99840001 7.06482201,-7.99840001 h 84.632196 c 0.96533,0 7.28332,1.72149001 7.28332,7.99840001 z"
                                                                            />

                                                                            <!-- ICON -->
                                                                            <linearGradient id="button_icon_delete" x1="0%" y1="0%" x2="0%" y2="100%">
                                                                                <stop offset="25%" stop-color="#FEC2B4" />
                                                                                <stop offset="60%" stop-color="#FB532A" />
                                                                            </linearGradient>
                                                                            <path fill="url(#button_icon_delete)" d="m 91.901091,12.201753 -3.83904,-3.8391905 3.83919,-3.83918 -1.39053,-1.39053 -3.83919,3.83918 -3.83933,-3.83933 -1.39053,1.39053 3.83918,3.83933 -3.83903,3.8391905 1.39053,1.39053 3.83918,-3.8391805 3.83904,3.8391805 z"
                                                                            />

                                                                            <!-- TEXT -->
                                                                            <text x="6" y="12" fill="#ffffff" font-size="11px" font-family="Arial">Delete</text>

                                                                        </g>

                                                                        <!-- BUTTON: ADD POINT -->
                                                                        <g id="button_point" transform="translate(133, 2)" style="">

                                                                            <!-- BUTTON -->
                                                                            <path fill="url(#buttons_background_up)" stroke="#1f5181" stroke-width="1" d="m 99.490338,8.5084 c 0,6.27691 -6.31799,7.9984 -7.28332,7.9984 H 7.574822 c -0.965331,0 -7.06482201,-1.45667 -7.06482201,-7.9984 0,-6.54173 6.09949101,-7.99840001 7.06482201,-7.99840001 h 84.632196 c 0.96533,0 7.28332,1.72149001 7.28332,7.99840001 z"
                                                                            />

                                                                            <!-- ICON -->
                                                                            <line x1="72.068466" y1="8.6539106" x2="96.977417" y2="8.6539106" fill="none" stroke="#ffffff" stroke-width="1" />
                                                                            <line x1="90.131241" y1="2.2445779" x2="90.131241" y2="15.017924" fill="none" stroke="#ffffff" stroke-width="1" />
                                                                            <line x1="85.615143" y1="4.2834573" x2="94.647339" y2="13.315654" fill="none" stroke="#ffffff" stroke-width="1" />
                                                                            <line x1="94.876038" y1="4.1377969" x2="85.843842" y2="13.169993" fill="none" stroke="#ffffff" stroke-width="1" />

                                                                            <circle cx="71.6" cy="8.7" r="2.5" fill="#ffffff" />

                                                                            <radialGradient id="button_icon_point">
                                                                                <stop offset="0%" stop-color="#FFC9D1" />
                                                                                <stop offset="100%" stop-color="#DD4639" />
                                                                            </radialGradient>

                                                                            <circle cx="90.1" cy="8.7" r="3.5" fill="url(#button_icon_point)" />

                                                                            <!-- TEXT -->
                                                                            <text x="6" y="12" fill="#ffffff" font-size="11px" font-family="Arial">Add Point</text>
                                                                        </g>

                                                                        <!-- BUTTON: CONNECT LINE -->
                                                                        <g id="button_connect" transform="translate(315, 0)" style="display: none;">

                                                                            <!-- BUTTON -->
                                                                            <path fill="url(#buttons_background_up)" stroke="#1f5181" stroke-width="1" d="m 99.490338,8.5084 c 0,6.27691 -6.31799,7.9984 -7.28332,7.9984 H 7.574822 c -0.965331,0 -7.06482201,-1.45667 -7.06482201,-7.9984 0,-6.54173 6.09949101,-7.99840001 7.06482201,-7.99840001 h 84.632196 c 0.96533,0 7.28332,1.72149001 7.28332,7.99840001 z"
                                                                            />

                                                                            <!-- ICON -->
                                                                            <line x1="80.51712" y1="8.4869757" x2="91.574646" y2="8.4869757" fill="none" stroke="#ffffff" stroke-width="1" />

                                                                            <linearGradient id="button_icon_connect_1" x1="0%" y1="0%" x2="0%" y2="100%">
                                                                                <stop offset="0%" style="stop-color:#FFE6DB" />
                                                                                <stop offset="100%" style="stop-color:#EF2728" />
                                                                            </linearGradient>
                                                                            <path fill="url(#button_icon_connect_1)" d="m 79.341881,8.3188625 c 0,-4.04996 2.07429,-4.59315 3.65492,-5.13649 0,-0.60247 -1.16403,-1.38295 -1.81108,-1.38295 -2.38222,0 -4.31332,2.91886 -4.31332,6.5193 0,3.6004305 1.93124,6.5193005 4.31332,6.5193005 0.64676,0 2.13708,-0.81967 1.49804,-1.25972 -0.60918,-0.41923 -3.34188,-1.20947 -3.34188,-5.2594405 z"
                                                                            />

                                                                            <linearGradient id="button_icon_connect_2" x1="0%" y1="0%" x2="0%" y2="100%">
                                                                                <stop offset="0%" style="stop-color:#FFE6DB" />
                                                                                <stop offset="100%" style="stop-color:#EF2728" />
                                                                            </linearGradient>
                                                                            <path fill="url(#button_icon_connect_2)" d="m 93.057541,8.5080825 c 0,4.0499705 -2.07429,4.5931605 -3.65477,5.1364905 0,0.60248 1.16402,1.38296 1.81092,1.38296 2.38223,0 4.31333,-2.91886 4.31333,-6.5193005 0,-3.60044 -1.9311,-6.5193 -4.31333,-6.5193 -0.64661,0 -2.13707,0.81966 -1.49789,1.25972 0.60889,0.41923 3.34174,1.20947 3.34174,5.25943 z"
                                                                            />

                                                                            <!-- TEXT -->
                                                                            <text x="6" y="12" fill="#ffffff" font-size="11px" font-family="Arial">Connect Line</text>
                                                                        </g>

                                                                        <!-- BUTTON: SINGLE ARROW -->
                                                                        <g id="button_arrow" transform="translate(420, 0)" style="display: none;">

                                                                            <!-- BUTTON -->
                                                                            <path fill="url(#buttons_background_up)" stroke="#1f5181" stroke-width="1" d="m 99.490338,8.5084 c 0,6.27691 -6.31799,7.9984 -7.28332,7.9984 H 7.574822 c -0.965331,0 -7.06482201,-1.45667 -7.06482201,-7.9984 0,-6.54173 6.09949101,-7.99840001 7.06482201,-7.99840001 h 84.632196 c 0.96533,0 7.28332,1.72149001 7.28332,7.99840001 z"
                                                                            />

                                                                            <!-- ICON -->
                                                                            <line x1="72.34948" y1="8.5082197" x2="91.208847" y2="8.5082197" fill="none" stroke="#ffffff" stroke-width="1" />
                                                                            <linearGradient id="button_icon_arrow" x1="0%" y1="0%" x2="0%" y2="100%">
                                                                                <stop offset="0%" style="stop-color:#FFFFFF" />
                                                                                <stop offset="80%" style="stop-color:#FB532A" />
                                                                            </linearGradient>
                                                                            <path fill="url(#button_icon_arrow)" d="m 97.955131,8.3493125 -6.91362,-3.77407 0,7.8659805 z" />

                                                                            <!-- TEXT -->
                                                                            <text x="6" y="12" fill="#ffffff" font-size="11px" font-family="Arial">Add Arrow</text>

                                                                        </g>

                                                                        <!-- BUTTON: DOUBLE ARROW -->
                                                                        <g id="button_arrw2" transform="translate(525, 0)" style="display: none;">

                                                                            <!-- BUTTON -->
                                                                            <path fill="url(#buttons_background_up)" stroke="#1f5181" stroke-width="1" d="m 99.490338,8.5084 c 0,6.27691 -6.31799,7.9984 -7.28332,7.9984 H 7.574822 c -0.965331,0 -7.06482201,-1.45667 -7.06482201,-7.9984 0,-6.54173 6.09949101,-7.99840001 7.06482201,-7.99840001 h 84.632196 c 0.96533,0 7.28332,1.72149001 7.28332,7.99840001 z"
                                                                            />

                                                                            <!-- ICON -->
                                                                            <line x1="76.183701" y1="8.5083866" x2="91.041687" y2="8.5083866" fill="none" stroke="#ffffff" stroke-width="1" />

                                                                            <linearGradient id="button_icon_arrw2_1" x1="0%" y1="0%" x2="0%" y2="100%">
                                                                                <stop offset="0%" style="stop-color:#FFFFFF" />
                                                                                <stop offset="60%" style="stop-color:#FB532A" />
                                                                            </linearGradient>
                                                                            <path fill="url(#button_icon_arrw2_1)" d="m 70.357048,8.34948 6.84632,-3.77407 0,7.86598 z" />

                                                                            <linearGradient id="button_icon_arrw2_2" x1="0%" y1="0%" x2="0%" y2="100%">
                                                                                <stop offset="0%" style="stop-color:#FFFFFF" id="stop20" />
                                                                                <stop offset="80%" style="stop-color:#FB532A" id="stop22" />
                                                                            </linearGradient>
                                                                            <path fill="url(#button_icon_arrw2_2)" d="m 97.955298,8.34948 -6.84632,-3.77407 0,7.86598 z" />

                                                                            <!-- TEXT -->
                                                                            <text x="6" y="12" fill="#ffffff" font-size="11px" font-family="Arial">Add Arrow</text>
                                                                        </g>

                                                                        <!-- BUTTON: DASH LINE -->
                                                                        <g id="button_dash" transform="translate(630, 0)" style="display: none;">

                                                                            <!-- BUTTON -->
                                                                            <path fill="url(#buttons_background_up)" stroke="#1f5181" stroke-width="1" d="m 99.490338,8.5084 c 0,6.27691 -6.31799,7.9984 -7.28332,7.9984 H 7.574822 c -0.965331,0 -7.06482201,-1.45667 -7.06482201,-7.9984 0,-6.54173 6.09949101,-7.99840001 7.06482201,-7.99840001 h 84.632196 c 0.96533,0 7.28332,1.72149001 7.28332,7.99840001 z"
                                                                            />

                                                                            <!-- ICON -->
                                                                            <line x1="80.51712" y1="8.4869757" x2="91.574646" y2="8.4869757" fill="none" stroke="#ffffff" stroke-width="1" stroke-dasharray="2,2"
                                                                            />

                                                                            <linearGradient id="button_icon_dash_1" x1="0%" y1="0%" x2="0%" y2="100%">
                                                                                <stop offset="0%" style="stop-color:#FFE6DB" />
                                                                                <stop offset="100%" style="stop-color:#EF2728" />
                                                                            </linearGradient>
                                                                            <path fill="url(#button_icon_dash_1)" d="m 79.341881,8.3188625 c 0,-4.04996 2.07429,-4.59315 3.65492,-5.13649 0,-0.60247 -1.16403,-1.38295 -1.81108,-1.38295 -2.38222,0 -4.31332,2.91886 -4.31332,6.5193 0,3.6004305 1.93124,6.5193005 4.31332,6.5193005 0.64676,0 2.13708,-0.81967 1.49804,-1.25972 -0.60918,-0.41923 -3.34188,-1.20947 -3.34188,-5.2594405 z"
                                                                            />

                                                                            <linearGradient id="button_icon_dash_2" x1="0%" y1="0%" x2="0%" y2="100%">
                                                                                <stop offset="0%" style="stop-color:#FFE6DB" />
                                                                                <stop offset="100%" style="stop-color:#EF2728" />
                                                                            </linearGradient>
                                                                            <path fill="url(#button_icon_dash_2)" d="m 93.057541,8.5080825 c 0,4.0499705 -2.07429,4.5931605 -3.65477,5.1364905 0,0.60248 1.16402,1.38296 1.81092,1.38296 2.38223,0 4.31333,-2.91886 4.31333,-6.5193005 0,-3.60044 -1.9311,-6.5193 -4.31333,-6.5193 -0.64661,0 -2.13707,0.81966 -1.49789,1.25972 0.60889,0.41923 3.34174,1.20947 3.34174,5.25943 z"
                                                                            />

                                                                            <!-- TEXT -->
                                                                            <text x="6" y="12" fill="#ffffff" font-size="11px" font-family="Arial">Connect Dash</text>

                                                                        </g>

                                                                        <!-- BUTTON: CIRCLE -->
                                                                        <g id="button_circle" transform="translate(735, 0)" style="display: none;">

                                                                            <!-- BUTTON -->
                                                                            <path fill="url(#buttons_background_up)" stroke="#1f5181" stroke-width="1" d="m 99.490338,8.5084 c 0,6.27691 -6.31799,7.9984 -7.28332,7.9984 H 7.574822 c -0.965331,0 -7.06482201,-1.45667 -7.06482201,-7.9984 0,-6.54173 6.09949101,-7.99840001 7.06482201,-7.99840001 h 84.632196 c 0.96533,0 7.28332,1.72149001 7.28332,7.99840001 z"
                                                                            />

                                                                            <!-- ICON -->
                                                                            <g>
                                                                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="83.6" y1="8.7" x2="96.6" y2="8.7">
                                                                                    <stop offset="0" style="stop-color:#FFFFFF" />
                                                                                    <stop offset="0.8098" style="stop-color:#F15731" />
                                                                                </linearGradient>
                                                                                <circle fill="url(#SVGID_1_)" stroke="#000000" stroke-miterlimit="10" cx="90.1" cy="8.7" r="6.5" />
                                                                                <g>
                                                                                    <line fill="none" stroke="#FFFFFF" stroke-width="9" x1="86.014" y1="8.7" x2="94.186" y2="8.7" />
                                                                                    <line fill="none" stroke="#FFFFFF" stroke-width="9" x1="90.1" y1="11.086" x2="90.1" y2="2.914" />
                                                                                </g>
                                                                            </g>
                                                                            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="83.6" y1="8.7" x2="96.6" y2="8.7">
                                                                                <stop offset="0" style="stop-color:#FFFFFF" />
                                                                                <stop offset="0.8098" style="stop-color:#F15731" />
                                                                            </linearGradient>
                                                                            <circle fill="url(#SVGID_2_)" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" cx="90.1" cy="8.7" r="6.5" />
                                                                            <g>
                                                                                <line fill="none" stroke="#FFFFFF" x1="86.014" y1="8.7" x2="94.186" y2="8.7" />
                                                                                <line fill="none" stroke="#FFFFFF" x1="90.1" y1="12.786" x2="90.1" y2="4.614" />
                                                                            </g>


                                                                            <!-- TEXT -->
                                                                            <text x="6" y="12" fill="#ffffff" font-size="11px" font-family="Arial">Add Circle</text>

                                                                        </g>

                                                                    </g>

                                                                </g>

                                                            </g>

                                                            <!-- 
                                                            ORIGINAL GRID:
                                                            _topPosition = 5;
                                                            _gridModeButtonHeight= 16;
                                                            _gridModeButtonWidth = 102;
                                                            _palletWidth = 74;
                                                            _gridWidth = 500;
                                                            _gridHeight = 410;
                                                            _feedbackHeight = 22;
                                                            -->

                                                        </svg>



                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>@RenderSection("scripts", true)