@{
    Layout="_Layout.cshtml";
}
@section head{
    @RenderSection("head", required: true)
}
<div id="contents" role="main">
    <div class="pageWrapper showing" aria-hidden="false">
        <div xmlns="http://www.w3.org/1999/xhtml" id="Page_Page-5a3a9d6d-bb54-4a02-b2b7-cb005246e5de" class="subject_MATH grade_11 itemcount_1 layout_22 browser_chrome browserVer_66_0 platform_windows"
            data-zoom="0">
            <div id="Item_3318" class="multipleChoiceItem itemContainer format_gi response_grid showing activeItem contextAreaFocus"
                aria-hidden="false" touch-action="pan-y" tabindex="0" lang="es-mx">

                <table cellspacing="0" cellpadding="0" width="100%" class="bigTable noColumns" lang="es-mx">
                    <tbody lang="es-mx">
                        <tr lang="es-mx">
                            <td valign="top" align="center" lang="es-mx">
                                <div class="theQuestions" lang="es-mx">
                                    <span class="padding" lang="es-mx">
                                        <!-- wraps layouts -->

                                        <table class="structure layout22" lang="es-mx">
                                            <tbody lang="es-mx">
                                                <tr lang="es-mx">
                                                    <td lang="es-mx">

                                                        <div id="questionCell" class="questionCell" lang="es-mx">
                                                            <div class="toolsContainer itemTools markComment" lang="es-mx">
                                                                <a class="toolButton itemMenu" href="#" tabindex="0" aria-label="Menu" role="button" aria-haspopup="true" lang="es-mx"></a>
                                                            </div>
                                                            <p class="itemToolsBreak" lang="es-mx">&nbsp;</p>
                                                            <h2 id="QuestionNumber_3318" class="questionNumber" lang="es-mx">3318</h2>

                                                            <div id="Stem_3318" class="stemContainer" lang="es-mx">
                                                                <p style="" lang="es-mx">Emily tiene un certificado de regalo por $10 para usarlo
                                                                    en una tienda en línea. Puede comprar canciones por $1
                                                                    cada una o programas de televisión por $3 cada uno. Quiere
                                                                    gastar exactamente $10.</p>
                                                                <p style="font-style:italic; " lang="es-mx">&nbsp;</p>
                                                                <p style="font-style:italic; font-weight:bold; " lang="es-mx">Parte A</p>
                                                                <p style="" lang="es-mx">Crea una ecuación para mostrar la relación entre el número
                                                                    de canciones,
                                                                    <span style="font-style:italic; " lang="es-mx">x</span>, que Emily puede comprar y el número de programas
                                                                    de televisión ,
                                                                    <span style="font-style:italic; " lang="es-mx">y</span>
                                                                    <span style="font-style:normal; " lang="es-mx">,</span> que puede comprar.</p>
                                                                <p style="font-style:italic; " lang="es-mx">&nbsp;</p>
                                                                <p style="font-style:italic; font-weight:bold; " lang="es-mx">Parte B</p>
                                                                <p style="" lang="es-mx">Usa la herramienta “Agregar punto” para trazar
                                                                    <span style="font-weight:bold; " lang="es-mx">todas</span> las combinaciones posibles de canciones
                                                                    y programas de televisión que Emily puede comprar.</p>
                                                                <p class="languagedivider">&nbsp;</p>
                                                                <p style="" lang="en-us">Emily has a
                                                                    <a id="word-list-2" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start" data-word-index="5" lang="en-us"
                                                                        data-wl-group="0" tabindex="0" title="lookup word" role="button">gift certificate</a> for
                                                                    <span id="item_3318_TAG_1_BEGIN" lang="en-us">$10</span> to use at an online store. She can purchase
                                                                    songs for
                                                                    <span id="item_3318_TAG_2_BEGIN" lang="en-us">$1</span> each or episodes of TV shows for
                                                                    <span id="item_3318_TAG_3_BEGIN" lang="en-us">$3</span> each. She wants to
                                                                    <a id="word-list-1" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start" data-word-index="7" lang="en-us"
                                                                        data-wl-group="1" tabindex="0" title="lookup word" role="button">spend</a> exactly
                                                                    <span id="item_3318_TAG_4_BEGIN" lang="en-us">$10.</span>
                                                                </p>
                                                                <p style="font-style:italic; " lang="en-us">&nbsp;</p>
                                                                <p style="font-style:italic; font-weight:bold; " lang="en-us">
                                                                    <span id="item_3318_TAG_5_BEGIN" lang="en-us">Part A</span>
                                                                </p>
                                                                <p style="" lang="en-us">Create an equation to show the
                                                                    <a id="word-list-0" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start" data-word-index="8" lang="en-us"
                                                                        data-wl-group="2" tabindex="0" title="lookup word" role="button">relationship</a> between the number of songs,
                                                                    <span style="font-style:italic; " lang="en-us">x</span>, Emily can purchase and the number of episodes
                                                                    of TV shows,
                                                                    <span style="font-style:italic; " lang="en-us">y</span>
                                                                    <span style="font-style:normal; " lang="en-us">,</span> she can purchase.</p>
                                                                <p style="font-style:italic; " lang="en-us">&nbsp;</p>
                                                                <p style="font-style:italic; font-weight:bold; " lang="en-us">
                                                                    <span id="item_3318_TAG_6_BEGIN" lang="en-us">Part B</span>
                                                                </p>
                                                                <p style="" lang="en-us">
                                                                    <span id="item_3318_TAG_13" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="3">Use</span> the
                                                                    <span id="item_3318_TAG_14" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="4">Add Point tool</span> to
                                                                    <span id="item_3318_TAG_15" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="3" lang="en-us" data-wl-group="5">plot</span>
                                                                    <span id="item_3318_TAG_16" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="4" lang="en-us" data-wl-group="6">
                                                                        <span style="font-weight:bold; " lang="en-us">all</span>
                                                                    </span> possible combinations of songs and TV shows Emily can
                                                                    <span id="item_3318_TAG_8_BEGIN" lang="en-us">purchase.</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <p>&nbsp;</p>
                                                        <style>
                                                            iframe{
                                                                width: 540px;
                                                                height: 500px;
                                                                overflow: hidden;
                                                                align-self: center;
                                                                position: relative;
                                                                left: 33px;
                                                            }

                                                            .loading {
                                                                pointer-events: none;
                                                            }

                                                            #graphic-en {
                                                                position:relative;
                                                                top:-507px;
                                                                float: center;
                                                            }
                                                        </style>
                                                        <script>
                                                            window.addEventListener('scroll', startup);
                                                            document.getElementsByTagName('body')[0].classList.add('loading');
                                                            var numScroll = 0;
                                                            function startup(e){
                                                                numScroll++;
                                                                window.scroll(0, 0);
                                                                if(numScroll > 2){
                                                                    window.removeEventListener('scroll', startup);
                                                                    document.getElementsByTagName('body')[0].classList.remove('loading');
                                                                }
                                                            }
                                                        </script>

                                                        <div id="graphic-sp" class="loading"> 
                                                        <iframe id="graphic-sp-iframe" src="~/Content/Graphic/item-187-3318-graphic-SP.html" scolling="no">
                                                            <p>
                                                                Your browser does not support Iframes.
                                                            </p>
                                                        </iframe>
                                                        </div>
                                                        <div id="graphic-en" class="hidden loading">
                                                        <iframe id="graphic-en-iframe" src="~/Content/Graphic/item-187-3318-graphic-EN.html" scolling="no">
                                                            <p>
                                                                Your browser does not support Iframes.
                                                            </p>
                                                        </iframe>
                                                        </div>


                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{     @RenderSection("scripts", required: true) }