@RenderSection("head", true)
<div id="contents" role="main">
    <div class="pageWrapper showing" aria-hidden="false">
        <div xmlns="http://www.w3.org/1999/xhtml" id="Page_Page-72cba7b2-eaa4-49a3-9049-dc5ab77431a5" class="subject_MATH grade_4 itemcount_1 layout_8 browser_chrome browserVer_67_0 platform_windows"
            data-zoom="0">
            <div id="Item_3527" class="multipleChoiceItem itemContainer format_mc response_vertical showing" aria-hidden="false" touch-action="pan-y"
                tabindex="0" lang="es-mx">

                <table cellspacing="0" cellpadding="0" width="100%" class="bigTable noColumns" lang="es-mx">
                    <tbody lang="es-mx">
                        <tr lang="es-mx">
                            <td valign="top" align="center" lang="es-mx">
                                <div class="theQuestions" lang="es-mx">
                                    <span class="padding" lang="es-mx">
                                        <!-- wraps layouts -->

                                        <table cellspacing="0" cellpadding="0" class="structure layout8vertical" lang="es-mx">
                                            <tbody lang="es-mx">
                                                <tr lang="es-mx">
                                                    <td class="questionCell" lang="es-mx">
                                                        <div class="toolsContainer itemTools markComment" lang="es-mx">
                                                            <a class="toolButton itemMenu" href="#" tabindex="0" aria-label="Menu"
                                                                role="button" aria-haspopup="true" lang="es-mx"></a>
                                                        </div>
                                                        <h2 id="QuestionNumber_3527" class="questionNumber" lang="es-mx">3527</h2>

                                                        <div id="Stem_3527" class="stemContainer" lang="es-mx">
                                                            <p style="" lang="es-mx">Selecciona la lista en la que
                                                                <span style="font-weight:bold; "
                                                                    lang="es-mx">todos</span> los números son múltiplos de 9.</p>
                                                            <p class="languagedivider">&nbsp;</p>
                                                            <p style="" lang="en-us">
                                                                <span id="item_3527_TAG_2" class="its-tag" data-tag="word" data-tag-boundary="start"
                                                                    data-word-index="1" lang="en-us" data-wl-group="0">Select</span> the
                                                                <span id="item_3527_TAG_3" class="its-tag"
                                                                    data-tag="word" data-tag-boundary="start" data-word-index="2"
                                                                    lang="en-us" data-wl-group="1">list</span> of numbers that are
                                                                <span id="item_3527_TAG_4"
                                                                    class="its-tag" data-tag="word" data-tag-boundary="start"
                                                                    data-word-index="3" lang="en-us" data-wl-group="2">
                                                                    <span style="font-weight:bold; " lang="en-us">all</span>
                                                                </span>
                                                                <span style="font-weight:bold; " lang="en-us"> </span>multiples of 9.</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr lang="es-mx">
                                                    <td class="answerCell" lang="es-mx">
                                                        <div id="OptionsContainer_3527" class="optionsContainer" role="radiogroup" aria-label="Multiple choice." aria-required="true"
                                                            lang="es-mx">
                                                            <div id="Item_OptionContainer_Response_MC_3527_A" title="Option A" class="optionContainer contextArea optionA  " role="radio"
                                                                aria-checked="false" aria-label="Option A" aria-labelledby="Item_OptionContent_Response_MC_3527_A"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3527_A"
                                                                    name="Item_Response_MC_3527" value="A" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3527_A" lang="es-mx">
                                                                    <p style="" lang="es-mx">9, 27, 35, 63</p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3527_B" title="Option B" class="optionContainer contextArea optionB  " role="radio"
                                                                aria-checked="false" aria-label="Option B" aria-labelledby="Item_OptionContent_Response_MC_3527_B"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3527_B"
                                                                    name="Item_Response_MC_3527" value="B" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3527_B" lang="es-mx">
                                                                    <p style="" lang="es-mx">9, 48, 81, 90</p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3527_C" title="Option C" class="optionContainer contextArea optionC  " role="radio"
                                                                aria-checked="false" aria-label="Option C" aria-labelledby="Item_OptionContent_Response_MC_3527_C"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3527_C"
                                                                    name="Item_Response_MC_3527" value="C" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3527_C" lang="es-mx">
                                                                    <p style="" lang="es-mx">18, 36, 45, 64</p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3527_D" title="Option D" class="optionContainer contextArea optionD  " role="radio"
                                                                aria-checked="false" aria-label="Option D" aria-labelledby="Item_OptionContent_Response_MC_3527_D"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3527_D"
                                                                    name="Item_Response_MC_3527" value="D" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3527_D" lang="es-mx">
                                                                    <p style="" lang="es-mx">18, 54, 72, 99</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr lang="es-mx">
                                                    <td lang="es-mx">

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>@RenderSection("scripts", true)