@RenderSection("head", true)
<div id="contents" role="main">
    <div class="pageWrapper showing" aria-hidden="false">
        <div xmlns="http://www.w3.org/1999/xhtml" id="Page_Page-e7703c97-84ed-45d1-ab7c-377fce72e347" class="subject_MATH grade_11 itemcount_1 layout_8 browser_chrome browserVer_66_0 platform_windows"
            data-zoom="0">
            <div id="Item_3599" class="multipleChoiceItem itemContainer format_mc response_vertical showing" aria-hidden="false" touch-action="pan-y"
                tabindex="0" lang="es-mx">

                <table cellspacing="0" cellpadding="0" width="100%" class="bigTable noColumns" lang="es-mx">
                    <tbody lang="es-mx">
                        <tr lang="es-mx">
                            <td valign="top" align="center" lang="es-mx">
                                <div class="theQuestions" lang="es-mx">
                                    <span class="padding" lang="es-mx">
                                        <!-- wraps layouts -->

                                        <table cellspacing="0" cellpadding="0" class="structure layout8vertical" lang="es-mx">
                                            <tbody lang="es-mx">
                                                <tr lang="es-mx">
                                                    <td class="questionCell" lang="es-mx">
                                                        <div class="toolsContainer itemTools markComment" lang="es-mx">
                                                            <a class="toolButton itemMenu" href="#" tabindex="0" aria-label="Menu" role="button" aria-haspopup="true" lang="es-mx"></a>
                                                        </div>
                                                        <h2 id="QuestionNumber_3599" class="questionNumber" lang="es-mx">3599</h2>

                                                        <div id="Stem_3599" class="stemContainer" lang="es-mx">
                                                            <p style="" lang="es-mx">¿Cuál desigualdad representa todas las soluciones posibles de
                                                                <img id="CrossReference5" src="~/Content/IMG/item_3599_v0_item_88265_mml_svg_png__0.png" lang="es-mx" data-width="95"
                                                                    data-height="14" width="95" height="14">?</p>
                                                            <p class="languagedivider">&nbsp;</p>
                                                            <p style="" lang="en-us">
                                                                <span id="item_3599_TAG_6" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="0">Which</span> inequality represents
                                                                <span id="item_3599_TAG_7" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="1">all</span>
                                                                <span id="item_3599_TAG_8" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="3" lang="en-us" data-wl-group="2">possible</span> solutions of
                                                                <img id="CrossReference0" src="~/Content/IMG/item_3599_v0_item_88265_mml_svg_png__0.png" lang="en-us" data-width="95"
                                                                    data-height="14" width="95" height="14">?</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr lang="es-mx">
                                                    <td class="answerCell" lang="es-mx">
                                                        <div id="OptionsContainer_3599" class="optionsContainer" role="radiogroup" aria-label="Multiple choice." aria-required="true"
                                                            lang="es-mx">
                                                            <div id="Item_OptionContainer_Response_MC_3599_A" title="Option A" class="optionContainer contextArea optionA  " role="radio"
                                                                aria-checked="false" aria-label="Option A" aria-labelledby="Item_OptionContent_Response_MC_3599_A"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3599_A" name="Item_Response_MC_3599" value="A" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3599_A" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        <img id="CrossReference1" src="~/Content/IMG/item_3599_v0_item_88265_mml_svg_png__1.png" lang="es-mx" data-width="48"
                                                                            data-height="13" width="48" height="13">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3599_B" title="Option B" class="optionContainer contextArea optionB  " role="radio"
                                                                aria-checked="false" aria-label="Option B" aria-labelledby="Item_OptionContent_Response_MC_3599_B"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3599_B" name="Item_Response_MC_3599" value="B" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3599_B" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        <img id="CrossReference2" src="~/Content/IMG/item_3599_v0_item_88265_mml_svg_png__2.png" lang="es-mx" data-width="37"
                                                                            data-height="13" width="37" height="13">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3599_C" title="Option C" class="optionContainer contextArea optionC  " role="radio"
                                                                aria-checked="false" aria-label="Option C" aria-labelledby="Item_OptionContent_Response_MC_3599_C"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3599_C" name="Item_Response_MC_3599" value="C" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3599_C" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        <img id="CrossReference3" src="~/Content/IMG/item_3599_v0_item_88265_mml_svg_png__3.png" lang="es-mx" data-width="37"
                                                                            data-height="13" width="37" height="13">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3599_D" title="Option D" class="optionContainer contextArea optionD  " role="radio"
                                                                aria-checked="false" aria-label="Option D" aria-labelledby="Item_OptionContent_Response_MC_3599_D"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3599_D" name="Item_Response_MC_3599" value="D" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3599_D" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        <img id="CrossReference4" src="~/Content/IMG/item_3599_v0_item_88265_mml_svg_png__4.png" lang="es-mx" data-width="48"
                                                                            data-height="13" width="48" height="13">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr lang="es-mx">
                                                    <td lang="es-mx">

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="tool-ClosedCaptioning" class="tdsClosedCaptioning" aria-live="polite" aria-label="Captioning for current audio"></div>
</div>@RenderSection("scripts", true)