@{
    Layout="_Layout.cshtml";
}
@section head{
    @RenderSection("head", required: true)
}
<div id="contents" role="main">
    <div class="pageWrapper showing" aria-hidden="false">
        <div xmlns="http://www.w3.org/1999/xhtml" id="Page_Page-4946fd30-41ec-4e0d-a3d7-be683a1ac1e1" class="subject_MATH grade_7 itemcount_1 layout_8 browser_chrome browserVer_67_0 platform_windows"
            data-zoom="0">
            <div id="Item_3635" class="multipleChoiceItem itemContainer format_mc response_vertical showing" aria-hidden="false" touch-action="pan-y"
                tabindex="0" lang="es-mx">

                <table cellspacing="0" cellpadding="0" width="100%" class="bigTable noColumns" lang="es-mx">
                    <tbody lang="es-mx">
                        <tr lang="es-mx">
                            <td valign="top" align="center" lang="es-mx">
                                <div class="theQuestions" lang="es-mx">
                                    <span class="padding" lang="es-mx">
                                        <!-- wraps layouts -->

                                        <table cellspacing="0" cellpadding="0" class="structure layout8vertical" lang="es-mx">
                                            <tbody lang="es-mx">
                                                <tr lang="es-mx">
                                                    <td class="questionCell" lang="es-mx">
                                                        <div class="toolsContainer itemTools markComment" lang="es-mx">
                                                            <a class="toolButton itemMenu" href="#" tabindex="0" aria-label="Menu" role="button" aria-haspopup="true" lang="es-mx"></a>
                                                        </div>
                                                        <h2 id="QuestionNumber_3635" class="questionNumber" lang="es-mx">3635</h2>

                                                        <div id="Stem_3635" class="stemContainer" lang="es-mx">
                                                            <p style="" lang="es-mx">Alfonso fue a la tienda de electrodomésticos Famous Sam y compró
                                                                un refrigerador y una estufa. El precio del refrigerador
                                                                estaba en oferta con un descuento de 40% del precio original
                                                                y el precio de la estufa estaba en oferta con un descuento
                                                                del 20% del precio original.
                                                            </p>
                                                            <p style="" lang="es-mx">
                                                                <br lang="es-mx">¿Cuál afirmación debe ser verdadera para concluir que Alfonso
                                                                recibió un descuento total del 30% en la compra del refrigerador
                                                                y la estufa juntos?</p>
                                                            <p class="languagedivider">&nbsp;</p>
                                                            <p style="" lang="en-us">Alfonso went to Famous Sam's Appliance Store and purchased a
                                                                <span id="item_3635_TAG_46" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="0">refrigerator</span> and a
                                                                <span id="item_3635_TAG_47" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="1">stove</span>. The
                                                                <span id="item_3635_TAG_48" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="3" lang="en-us" data-wl-group="2">sale price</span> of the
                                                                <span id="item_3635_TAG_49" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="3">refrigerator</span> was
                                                                <span id="item_3635_TAG_1_BEGIN" lang="en-us">40%</span> off the
                                                                <span id="item_3635_TAG_50" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="4" lang="en-us" data-wl-group="4">original price</span> and the
                                                                <span id="item_3635_TAG_51" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="3" lang="en-us" data-wl-group="5">sale price</span> of the
                                                                <span id="item_3635_TAG_52" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="6">stove</span> was
                                                                <span id="item_3635_TAG_2_BEGIN" lang="en-us">20%</span> off the
                                                                <span id="item_3635_TAG_53" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="4" lang="en-us" data-wl-group="7">original price</span>.</p>
                                                            <p style="" lang="en-us">
                                                                <br lang="en-us">Which
                                                                <span id="item_3635_TAG_18" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="5" lang="en-us" data-wl-group="8">statement</span> must be
                                                                <span id="item_3635_TAG_19" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="6" lang="en-us" data-wl-group="9">true</span> to
                                                                <span id="item_3635_TAG_20" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="7" lang="en-us" data-wl-group="10">conclude</span> that Alfonso received a
                                                                <span id="item_3635_TAG_3_BEGIN" lang="en-us">30%</span>
                                                                <span id="item_3635_TAG_21" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="8" lang="en-us" data-wl-group="11">overall</span>
                                                                <span id="item_3635_TAG_22" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="9" lang="en-us" data-wl-group="12">discount</span> on the
                                                                <span id="item_3635_TAG_23" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="13">refrigerator</span> and the
                                                                <span id="item_3635_TAG_24" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="14">stove</span>
                                                                <span id="item_3635_TAG_25" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="10" lang="en-us" data-wl-group="15">together</span>?</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr lang="es-mx">
                                                    <td class="answerCell" lang="es-mx">
                                                        <div id="OptionsContainer_3635" class="optionsContainer" role="radiogroup" aria-label="Multiple choice." aria-required="true"
                                                            lang="es-mx">
                                                            <div id="Item_OptionContainer_Response_MC_3635_A" title="Option A" class="optionContainer contextArea optionA  " role="radio"
                                                                aria-checked="false" aria-label="Option A" aria-labelledby="Item_OptionContent_Response_MC_3635_A"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3635_A" name="Item_Response_MC_3635" value="A" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3635_A" lang="es-mx">
                                                                    <p style="" lang="es-mx">Los precios de oferta del refrigerador y de la estufa
                                                                        eran iguales.</p>
                                                                    <p class="languagedivider">&nbsp;</p>
                                                                    <p style="" lang="en-us">The
                                                                        <span id="item_3635_TAG_26" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="11" lang="en-us" data-wl-group="16">sale prices</span> of the
                                                                        <span id="item_3635_TAG_27" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="17">refrigerator</span> and the
                                                                        <span id="item_3635_TAG_28" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="18">stove</span> were the
                                                                        <span id="item_3635_TAG_29" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12" lang="en-us" data-wl-group="19">same</span>.</p>
                                                                    <p class="optiondivider" lang="en-us">&nbsp;</p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3635_B" title="Option B" class="optionContainer contextArea optionB  " role="radio"
                                                                aria-checked="false" aria-label="Option B" aria-labelledby="Item_OptionContent_Response_MC_3635_B"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3635_B" name="Item_Response_MC_3635" value="B" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3635_B" lang="es-mx">
                                                                    <p style="" lang="es-mx">Los precios originales del refrigerador y de la estufa
                                                                        eran iguales.</p>
                                                                    <p class="languagedivider">&nbsp;</p>
                                                                    <p style="" lang="en-us">The
                                                                        <span id="item_3635_TAG_44" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="13" lang="en-us" data-wl-group="20">original prices</span> of the
                                                                        <span id="item_3635_TAG_31" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="21">refrigerator</span> and the
                                                                        <span id="item_3635_TAG_32" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="22">stove</span> were the
                                                                        <span id="item_3635_TAG_33" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="12" lang="en-us" data-wl-group="23">same</span>.</p>
                                                                    <p class="optiondivider" lang="en-us">&nbsp;</p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3635_C" title="Option C" class="optionContainer contextArea optionC  " role="radio"
                                                                aria-checked="false" aria-label="Option C" aria-labelledby="Item_OptionContent_Response_MC_3635_C"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3635_C" name="Item_Response_MC_3635" value="C" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3635_C" lang="es-mx">
                                                                    <p style="" lang="es-mx">El precio de oferta del refrigerador era el doble del
                                                                        precio de oferta de la estufa.</p>
                                                                    <p class="languagedivider">&nbsp;</p>
                                                                    <p style="" lang="en-us">The
                                                                        <span id="item_3635_TAG_34" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="3" lang="en-us" data-wl-group="24">sale price</span> of the
                                                                        <span id="item_3635_TAG_35" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="25">refrigerator</span> was
                                                                        <span id="item_3635_TAG_36" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="14" lang="en-us" data-wl-group="26">twice</span> the
                                                                        <span id="item_3635_TAG_37" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="3" lang="en-us" data-wl-group="27">sale price</span> of the
                                                                        <span id="item_3635_TAG_38" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="28">stove</span>.</p>
                                                                    <p class="optiondivider" lang="en-us">&nbsp;</p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3635_D" title="Option D" class="optionContainer contextArea optionD  " role="radio"
                                                                aria-checked="false" aria-label="Option D" aria-labelledby="Item_OptionContent_Response_MC_3635_D"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3635_D" name="Item_Response_MC_3635" value="D" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3635_D" lang="es-mx">
                                                                    <p style="" lang="es-mx">El precio original del refrigerador era el doble del
                                                                        precio original de la estufa.</p>
                                                                    <p class="languagedivider">&nbsp;</p>
                                                                    <p style="" lang="en-us">The
                                                                        <span id="item_3635_TAG_39" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="4" lang="en-us" data-wl-group="29">original price</span> of the
                                                                        <span id="item_3635_TAG_40" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="30">refrigerator</span> was
                                                                        <span id="item_3635_TAG_41" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="14" lang="en-us" data-wl-group="31">twice</span> the
                                                                        <span id="item_3635_TAG_42" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="4" lang="en-us" data-wl-group="32">original price</span> of the
                                                                        <span id="item_3635_TAG_43" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="33">stove</span>.</p>
                                                                    <p class="optiondivider" lang="en-us">&nbsp;</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr lang="es-mx">
                                                    <td lang="es-mx">

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{     @RenderSection("scripts", required: true) }