@RenderSection("head", true)
<div id="contents" role="main">
    <div class="pageWrapper showing" aria-hidden="false">
        <div xmlns="http://www.w3.org/1999/xhtml" id="Page_Page-5d529aa4-085a-4136-a679-05e25cbc9c36" class="subject_MATH grade_7 itemcount_1 layout_8 browser_chrome browserVer_67_0 platform_windows"
            data-zoom="0">
            <div id="Item_3627" class="multipleChoiceItem itemContainer format_mc response_vertical showing" aria-hidden="false" touch-action="pan-y"
                tabindex="0" lang="es-mx">

                <table cellspacing="0" cellpadding="0" width="100%" class="bigTable noColumns" lang="es-mx">
                    <tbody lang="es-mx">
                        <tr lang="es-mx">
                            <td valign="top" align="center" lang="es-mx">
                                <div class="theQuestions" lang="es-mx">
                                    <span class="padding" lang="es-mx">
                                        <!-- wraps layouts -->

                                        <table cellspacing="0" cellpadding="0" class="structure layout8vertical" lang="es-mx">
                                            <tbody lang="es-mx">
                                                <tr lang="es-mx">
                                                    <td class="questionCell" lang="es-mx">
                                                        <div class="toolsContainer itemTools markComment" lang="es-mx">
                                                            <a class="toolButton itemMenu" href="#" tabindex="0" aria-label="Menu" role="button" aria-haspopup="true" lang="es-mx"></a>
                                                        </div>
                                                        <h2 id="QuestionNumber_3627" class="questionNumber" lang="es-mx">3627</h2>

                                                        <div id="Stem_3627" class="stemContainer" lang="es-mx">
                                                            <p style="" lang="es-mx">Selecciona la expresión equivalente a
                                                                <img id="CrossReference5" src="~/Content/IMG/item_3627_v0_item_92286_mml_svg_png__0.png" lang="es-mx" data-width="175"
                                                                    data-height="17" width="175" height="17">
                                                            </p>
                                                            <p class="languagedivider">&nbsp;</p>
                                                            <p style="" lang="en-us">
                                                                <span id="item_3627_TAG_6" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="0">Select</span> the expression equivalent to
                                                                <img id="CrossReference0" src="~/Content/IMG/item_3627_v0_item_92286_mml_svg_png__0.png" lang="en-us" data-width="175"
                                                                    data-height="17" width="175" height="17">
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr lang="es-mx">
                                                    <td class="answerCell" lang="es-mx">
                                                        <div id="OptionsContainer_3627" class="optionsContainer" role="radiogroup" aria-label="Multiple choice." aria-required="true"
                                                            lang="es-mx">
                                                            <div id="Item_OptionContainer_Response_MC_3627_A" title="Option A" class="optionContainer contextArea optionA  " role="radio"
                                                                aria-checked="false" aria-label="Option A" aria-labelledby="Item_OptionContent_Response_MC_3627_A"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3627_A" name="Item_Response_MC_3627" value="A" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3627_A" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        <img id="CrossReference1" src="~/Content/IMG/item_3627_v0_item_92286_mml_svg_png__1.png" lang="es-mx" data-width="77"
                                                                            data-height="13" width="77" height="13">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3627_B" title="Option B" class="optionContainer contextArea optionB  " role="radio"
                                                                aria-checked="false" aria-label="Option B" aria-labelledby="Item_OptionContent_Response_MC_3627_B"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3627_B" name="Item_Response_MC_3627" value="B" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3627_B" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        <img id="CrossReference2" src="~/Content/IMG/item_3627_v0_item_92286_mml_svg_png__2.png" lang="es-mx" data-width="77"
                                                                            data-height="14" width="77" height="14">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3627_C" title="Option C" class="optionContainer contextArea optionC  " role="radio"
                                                                aria-checked="false" aria-label="Option C" aria-labelledby="Item_OptionContent_Response_MC_3627_C"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3627_C" name="Item_Response_MC_3627" value="C" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3627_C" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        <img id="CrossReference3" src="~/Content/IMG/item_3627_v0_item_92286_mml_svg_png__3.png" lang="es-mx" data-width="48"
                                                                            data-height="14" width="48" height="14">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div id="Item_OptionContainer_Response_MC_3627_D" title="Option D" class="optionContainer contextArea optionD  " role="radio"
                                                                aria-checked="false" aria-label="Option D" aria-labelledby="Item_OptionContent_Response_MC_3627_D"
                                                                tabindex="0" lang="es-mx">
                                                                <span class="striked" lang="es-mx"></span>
                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3627_D" name="Item_Response_MC_3627" value="D" class="option" lang="es-mx">

                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3627_D" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        <img id="CrossReference4" src="~/Content/IMG/item_3627_v0_item_92286_mml_svg_png__4.png" lang="es-mx" data-width="48"
                                                                            data-height="13" width="48" height="13">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr lang="es-mx">
                                                    <td lang="es-mx">

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>@RenderSection("scripts", true)