@RenderSection("head", true)
<html>

<body>
    <div id="contents" role="main">
        <div class="pageWrapper showing" aria-hidden="false">
            <div xmlns="http://www.w3.org/1999/xhtml" id="Page_Page-4318e9f7-f47a-4d0f-8939-7f92993f999e" class="subject_MATH grade_4 itemcount_1 layout_8 browser_chrome browserVer_66_0 platform_windows"
                data-zoom="0">
                <div id="Item_3607" class="multipleChoiceItem itemContainer format_mc response_vertical showing" aria-hidden="false" touch-action="pan-y"
                    tabindex="0" lang="es-mx">

                    <table cellspacing="0" cellpadding="0" width="100%" class="bigTable noColumns" lang="es-mx">
                        <tbody lang="es-mx">
                            <tr lang="es-mx">
                                <td valign="top" align="center" lang="es-mx">
                                    <div class="theQuestions" lang="es-mx">
                                        <span class="padding" lang="es-mx">
                                            <!-- wraps layouts -->

                                            <table cellspacing="0" cellpadding="0" class="structure layout8vertical" lang="es-mx">
                                                <tbody lang="es-mx">
                                                    <tr lang="es-mx">
                                                        <td class="questionCell" lang="es-mx">
                                                            <div class="toolsContainer itemTools markComment" lang="es-mx">
                                                                <a class="toolButton itemMenu" href="#" tabindex="0" aria-label="Menu"
                                                                    role="button" aria-haspopup="true" lang="es-mx"></a>
                                                            </div>
                                                            <h2 id="QuestionNumber_3607" class="questionNumber" lang="es-mx">3607</h2>

                                                            <div id="Stem_3607" class="stemContainer" lang="es-mx">
                                                                <p style="" lang="es-mx">Conner resuelve
                                                                    <img id="CrossReference4" src="/Pages/API/Resources.axd?path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9S5KHk5QP%2FPdrQRL00rDmAg%3D%3D&amp;file=item_3607_v0_item_90393_mml_svg_png__0.png"
                                                                        lang="es-mx" data-width="48" data-height="14" width="48"
                                                                        height="14">. Él dice: “Puedo encontrar el producto si multiplico
                                                                    <img id="CrossReference5" src="/Pages/API/Resources.axd?path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9S5KHk5QP%2FPdrQRL00rDmAg%3D%3D&amp;file=item_3607_v0_item_90393_mml_svg_png__1.png"
                                                                        lang="es-mx" data-width="48" data-height="14" width="48"
                                                                        height="14"> y luego sumo 8”.</p>
                                                                <p style="" lang="es-mx">
                                                                    <br lang="es-mx">Selecciona la afirmación que explique
                                                                    <span style="font-weight:bold; "
                                                                        lang="es-mx">mejor</span> si la estrategia de Connor es correcta.</p>
                                                                <p
                                                                    class="languagedivider">&nbsp;</p>
                                                                <p style="" lang="en-us">Conner solves
                                                                    <span id="item_3607_TAG_1_BEGIN" lang="en-us">
                                                                        <img id="CrossReference0" src="/Pages/API/Resources.axd?path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9S5KHk5QP%2FPdrQRL00rDmAg%3D%3D&amp;file=item_3607_v0_item_90393_mml_svg_png__0.png"
                                                                            lang="en-us" data-width="48" data-height="14" width="48"
                                                                            height="14">
                                                                    </span>. He says, “I
                                                                    <span id="item_3607_TAG_24" class="its-tag"
                                                                        data-tag="word" data-tag-boundary="start" data-word-index="1"
                                                                        lang="en-us" data-wl-group="0">can find</span> the product if I multiply
                                                                    <span id="item_3607_TAG_2_BEGIN"
                                                                        lang="en-us">
                                                                        <img id="CrossReference1" src="/Pages/API/Resources.axd?path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9S5KHk5QP%2FPdrQRL00rDmAg%3D%3D&amp;file=item_3607_v0_item_90393_mml_svg_png__1.png"
                                                                            lang="en-us" data-width="48" data-height="14" width="48"
                                                                            height="14">
                                                                    </span> and then add 8.”</p>
                                                                <p style="" lang="en-us">
                                                                    <br lang="en-us">
                                                                    <span id="item_3607_TAG_25" class="its-tag" data-tag="word"
                                                                        data-tag-boundary="start" data-word-index="2" lang="en-us"
                                                                        data-wl-group="1">Select</span> the
                                                                    <span id="item_3607_TAG_26" class="its-tag"
                                                                        data-tag="word" data-tag-boundary="start" data-word-index="3"
                                                                        lang="en-us" data-wl-group="2">statement</span> that
                                                                    <span style="font-weight:bold; "
                                                                        lang="en-us"> </span>
                                                                    <span id="item_3607_TAG_27" class="its-tag" data-tag="word"
                                                                        data-tag-boundary="start" data-word-index="4" lang="en-us"
                                                                        data-wl-group="3">
                                                                        <span style="font-weight:bold; " lang="en-us">best</span>
                                                                    </span> explains if Connor's strategy is
                                                                    <span id="item_3607_TAG_28"
                                                                        class="its-tag" data-tag="word" data-tag-boundary="start"
                                                                        data-word-index="5" lang="en-us" data-wl-group="4">correct</span>.</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr lang="es-mx">
                                                        <td class="answerCell" lang="es-mx">
                                                            <div id="OptionsContainer_3607" class="optionsContainer" role="radiogroup" aria-label="Multiple choice." aria-required="true"
                                                                lang="es-mx">
                                                                <div id="Item_OptionContainer_Response_MC_3607_A" title="Option A" class="optionContainer contextArea optionA  " role="radio"
                                                                    aria-checked="false" aria-label="Option A" aria-labelledby="Item_OptionContent_Response_MC_3607_A"
                                                                    tabindex="0" lang="es-mx">
                                                                    <span class="striked" lang="es-mx"></span>
                                                                    <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                    <input type="radio" id="Item_Response_MC_3607_A"
                                                                        name="Item_Response_MC_3607" value="A" class="option"
                                                                        lang="es-mx">

                                                                    <div class="optionContent" id="Item_OptionContent_Response_MC_3607_A" lang="es-mx">
                                                                        <p style="" lang="es-mx">Connor está en lo correcto porque puede cambiar el
                                                                            16 para usar un número más fácil de multiplicar,
                                                                            como el 15.</p>
                                                                        <p class="languagedivider">&nbsp;</p>
                                                                        <p style="" lang="en-us">Connor is
                                                                            <span id="item_3607_TAG_29" class="its-tag"
                                                                                data-tag="word" data-tag-boundary="start" data-word-index="5"
                                                                                lang="en-us" data-wl-group="5">correct</span>, because he
                                                                            <span id="item_3607_TAG_30"
                                                                                class="its-tag" data-tag="word" data-tag-boundary="start"
                                                                                data-word-index="6" lang="en-us" data-wl-group="6">can change</span> the 16 to
                                                                            <span id="item_3607_TAG_31"
                                                                                class="its-tag" data-tag="word" data-tag-boundary="start"
                                                                                data-word-index="7" lang="en-us" data-wl-group="7">use</span> an
                                                                            <span id="item_3607_TAG_32" class="its-tag"
                                                                                data-tag="word" data-tag-boundary="start" data-word-index="8"
                                                                                lang="en-us" data-wl-group="8">easier</span> number to multiply, like 15.</p>
                                                                        <p
                                                                            class="optiondivider" lang="en-us">&nbsp;</p>
                                                                    </div>
                                                                </div>
                                                                <div id="Item_OptionContainer_Response_MC_3607_B" title="Option B" class="optionContainer contextArea optionB  " role="radio"
                                                                    aria-checked="false" aria-label="Option B" aria-labelledby="Item_OptionContent_Response_MC_3607_B"
                                                                    tabindex="0" lang="es-mx">
                                                                    <span class="striked" lang="es-mx"></span>
                                                                    <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                    <input type="radio" id="Item_Response_MC_3607_B"
                                                                        name="Item_Response_MC_3607" value="B" class="option"
                                                                        lang="es-mx">

                                                                    <div class="optionContent" id="Item_OptionContent_Response_MC_3607_B" lang="es-mx">
                                                                        <p style="" lang="es-mx">Connor está equivocado porque
                                                                            <img id="CrossReference6"
                                                                                src="/Pages/API/Resources.axd?path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9S5KHk5QP%2FPdrQRL00rDmAg%3D%3D&amp;file=item_3607_v0_item_90393_mml_svg_png__2.png"
                                                                                lang="es-mx" data-width="48" data-height="14"
                                                                                width="48" height="14"> es lo mismo que 4 grupos de 8 más 4 grupos de
                                                                            8.</p>
                                                                        <p class="languagedivider">&nbsp;</p>
                                                                        <p style="" lang="en-us">Connor is
                                                                            <span id="item_3607_TAG_33" class="its-tag"
                                                                                data-tag="word" data-tag-boundary="start" data-word-index="9"
                                                                                lang="en-us" data-wl-group="9">incorrect</span>, because
                                                                            <span id="item_3607_TAG_3_BEGIN"
                                                                                lang="en-us">
                                                                                <img id="CrossReference2" src="/Pages/API/Resources.axd?path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9S5KHk5QP%2FPdrQRL00rDmAg%3D%3D&amp;file=item_3607_v0_item_90393_mml_svg_png__2.png"
                                                                                    lang="en-us" data-width="48" data-height="14"
                                                                                    width="48" height="14">
                                                                            </span> is the
                                                                            <span id="item_3607_TAG_34" class="its-tag"
                                                                                data-tag="word" data-tag-boundary="start" data-word-index="10"
                                                                                lang="en-us" data-wl-group="10">same</span> as 4 groups of 8,
                                                                            <span id="item_3607_TAG_35"
                                                                                class="its-tag" data-tag="word" data-tag-boundary="start"
                                                                                data-word-index="11" lang="en-us" data-wl-group="11">plus</span> 4 groups of 8.</p>
                                                                        <p class="optiondivider"
                                                                            lang="en-us">&nbsp;</p>
                                                                    </div>
                                                                </div>
                                                                <div id="Item_OptionContainer_Response_MC_3607_C" title="Option C" class="optionContainer contextArea optionC  " role="radio"
                                                                    aria-checked="false" aria-label="Option C" aria-labelledby="Item_OptionContent_Response_MC_3607_C"
                                                                    tabindex="0" lang="es-mx">
                                                                    <span class="striked" lang="es-mx"></span>
                                                                    <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                    <input type="radio" id="Item_Response_MC_3607_C"
                                                                        name="Item_Response_MC_3607" value="C" class="option"
                                                                        lang="es-mx">

                                                                    <div class="optionContent" id="Item_OptionContent_Response_MC_3607_C" lang="es-mx">
                                                                        <p style="" lang="es-mx">Connor está en lo correcto porque
                                                                            <img id="CrossReference7"
                                                                                src="/Pages/API/Resources.axd?path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9S5KHk5QP%2FPdrQRL00rDmAg%3D%3D&amp;file=item_3607_v0_item_90393_mml_svg_png__3.png"
                                                                                lang="es-mx" data-width="48" data-height="14"
                                                                                width="48" height="14"> es lo mismo que 15 grupos de 8 más 1 grupo de
                                                                            8.</p>
                                                                        <p class="languagedivider">&nbsp;</p>
                                                                        <p style="" lang="en-us">Connor is
                                                                            <span id="item_3607_TAG_36" class="its-tag"
                                                                                data-tag="word" data-tag-boundary="start" data-word-index="5"
                                                                                lang="en-us" data-wl-group="12">correct</span>, because
                                                                            <span id="item_3607_TAG_4_BEGIN"
                                                                                lang="en-us">
                                                                                <img id="CrossReference3" src="/Pages/API/Resources.axd?path=s6qmDJ3Bp%2B0TOGFflZz833ThTWRKfKr9CFOA0vSDIsuJzXDXNO3hEJ%2B%2FXN5vmQK9S5KHk5QP%2FPdrQRL00rDmAg%3D%3D&amp;file=item_3607_v0_item_90393_mml_svg_png__3.png"
                                                                                    lang="en-us" data-width="48" data-height="14"
                                                                                    width="48" height="14">
                                                                            </span> is the
                                                                            <span id="item_3607_TAG_37" class="its-tag"
                                                                                data-tag="word" data-tag-boundary="start" data-word-index="10"
                                                                                lang="en-us" data-wl-group="13">same</span> as 15 groups of 8,
                                                                            <span id="item_3607_TAG_38"
                                                                                class="its-tag" data-tag="word" data-tag-boundary="start"
                                                                                data-word-index="11" lang="en-us" data-wl-group="14">plus</span> 1 group of 8.</p>
                                                                        <p class="optiondivider"
                                                                            lang="en-us">&nbsp;</p>
                                                                    </div>
                                                                </div>
                                                                <div id="Item_OptionContainer_Response_MC_3607_D" title="Option D" class="optionContainer contextArea optionD  " role="radio"
                                                                    aria-checked="false" aria-label="Option D" aria-labelledby="Item_OptionContent_Response_MC_3607_D"
                                                                    tabindex="0" lang="es-mx">
                                                                    <span class="striked" lang="es-mx"></span>
                                                                    <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">&nbsp;</span>
                                                                    <input type="radio" id="Item_Response_MC_3607_D"
                                                                        name="Item_Response_MC_3607" value="D" class="option"
                                                                        lang="es-mx">

                                                                    <div class="optionContent" id="Item_OptionContent_Response_MC_3607_D" lang="es-mx">
                                                                        <p style="" lang="es-mx">Connor está equivocado porque debe sumar 16 en lugar
                                                                            de 8.</p>
                                                                        <p class="languagedivider">&nbsp;</p>
                                                                        <p style="" lang="en-us">Connor is
                                                                            <span id="item_3607_TAG_39" class="its-tag"
                                                                                data-tag="word" data-tag-boundary="start" data-word-index="9"
                                                                                lang="en-us" data-wl-group="15">incorrect</span>, because he should add 16
                                                                            <span
                                                                                id="item_3607_TAG_40" class="its-tag" data-tag="word"
                                                                                data-tag-boundary="start" data-word-index="12"
                                                                                lang="en-us" data-wl-group="16">instead</span> of 8.</p>
                                                                        <p class="optiondivider"
                                                                            lang="en-us">&nbsp;</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr lang="es-mx">
                                                        <td lang="es-mx">

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>@RenderSection("scripts", true)