@RenderSection("head", true)
<div id="contents" role="main">
    <div class="pageWrapper showing" aria-hidden="false">

        <div xmlns="http://www.w3.org/1999/xhtml" id="Page_Page-1d233884-0378-4d34-b3bd-9cdc7e80371b" class="subject_MATH grade_11 itemcount_1 layout_8 browser_chrome browserVer_66_0 platform_windows"
            data-zoom="0">

            <div id="Item_3298" class="multipleChoiceItem itemContainer format_mc response_vertical showing" aria-hidden="false" touch-action="pan-y"
                tabindex="0" lang="es-mx">


                <table cellspacing="0" cellpadding="0" width="100%" class="bigTable noColumns" lang="es-mx">

                    <tbody lang="es-mx">
                        <tr lang="es-mx">

                            <td valign="top" align="center" lang="es-mx">
                                <div class="theQuestions" lang="es-mx">
                                    <span class="padding" lang="es-mx">
                                        <!-- wraps layouts -->


                                        <table cellspacing="0" cellpadding="0" class="structure layout8vertical" lang="es-mx">

                                            <tbody lang="es-mx">
                                                <tr lang="es-mx">

                                                    <td class="questionCell" lang="es-mx">

                                                        <div class="toolsContainer itemTools markComment" lang="es-mx">
                                                            <a class="toolButton itemMenu" href="#" tabindex="0" aria-label="Menu" role="button" aria-haspopup="true" lang="es-mx">
                                                            </a>
                                                        </div>

                                                        <h2 id="QuestionNumber_3298" class="questionNumber" lang="es-mx">
                                                            3298</h2>


                                                        <div id="Stem_3298" class="stemContainer" lang="es-mx">
                                                            <p style="" lang="es-mx">
                                                                Un estudiante resolvió
                                                                <img id="CrossReference7" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__0.png" lang="es-mx" data-width="77"
                                                                    data-height="30" width="77" height="30"> en seis pasos, como se muestra.</p>
                                                            <p style="" lang="es-mx">
                                                                <br lang="es-mx"> Paso 1:
                                                                <img id="CrossReference8" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__1.png" lang="es-mx" data-width="104"
                                                                    data-height="34" width="104" height="34">
                                                            </p>
                                                            <p style="" lang="es-mx">
                                                                &nbsp;</p>
                                                            <p style="" lang="es-mx">
                                                                Paso 2:
                                                                <img id="CrossReference9" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__2.png" lang="es-mx" data-width="110"
                                                                    data-height="17" width="110" height="17">
                                                            </p>
                                                            <p style="" lang="es-mx">
                                                                <br lang="es-mx"> Paso 3:
                                                                <img id="CrossReference10" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__3.png" lang="es-mx" data-width="95"
                                                                    data-height="13" width="95" height="13">
                                                            </p>
                                                            <p style="" lang="es-mx">
                                                                <br lang="es-mx"> Paso 4:
                                                                <img id="CrossReference11" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__4.png" lang="es-mx" data-width="122"
                                                                    data-height="14" width="122" height="14">
                                                            </p>
                                                            <p style="" lang="es-mx">
                                                                &nbsp;</p>
                                                            <p style="" lang="es-mx">
                                                                Paso 5:
                                                                <img id="CrossReference12" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__5.png" lang="es-mx" data-width="147"
                                                                    data-height="17" width="147" height="17">
                                                            </p>
                                                            <p style="" lang="es-mx">
                                                                <br lang="es-mx"> Paso 6:
                                                                <img id="CrossReference13" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__6.png" lang="es-mx" data-width="104"
                                                                    data-height="17" width="104" height="17">
                                                            </p>
                                                            <p style="" lang="es-mx">
                                                                &nbsp;</p>
                                                            <p style="" lang="es-mx">
                                                                ¿Qué afirmación es una interpretación precisa del trabajo del estudiante?</p>
                                                            <p class="languagedivider">
                                                                &nbsp;</p>
                                                            <p style="" lang="en-us">
                                                                A student solved
                                                                <span id="item_3298_TAG_1_BEGIN" lang="en-us">
                                                                    <img id="CrossReference0" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__0.png" lang="en-us" data-width="77"
                                                                        data-height="30" width="77" height="30">
                                                                </span>
                                                                in six
                                                                <span id="item_3298_TAG_10" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="0">
                                                                    steps</span>
                                                                , as shown.</p>
                                                            <p style="" lang="en-us">
                                                                <br lang="en-us">
                                                                <span id="item_3298_TAG_11" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="1">
                                                                    Step</span>
                                                                1:
                                                                <span id="item_3298_TAG_2_BEGIN" lang="en-us">
                                                                    <img id="CrossReference1" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__1.png" lang="en-us" data-width="104"
                                                                        data-height="34" width="104" height="34">
                                                                </span>
                                                            </p>
                                                            <p style="" lang="en-us">
                                                                &nbsp;</p>
                                                            <p style="" lang="en-us">
                                                                <span id="item_3298_TAG_12" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="2">
                                                                    Step</span>
                                                                2:
                                                                <span id="item_3298_TAG_3_BEGIN" lang="en-us">
                                                                    <img id="CrossReference2" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__2.png" lang="en-us" data-width="110"
                                                                        data-height="17" width="110" height="17">
                                                                </span>
                                                            </p>
                                                            <p style="" lang="en-us">
                                                                <br lang="en-us">
                                                                <span id="item_3298_TAG_13" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="3">
                                                                    Step</span>
                                                                3:
                                                                <span id="item_3298_TAG_4_BEGIN" lang="en-us">
                                                                    <img id="CrossReference3" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__3.png" lang="en-us" data-width="95"
                                                                        data-height="13" width="95" height="13">
                                                                </span>
                                                            </p>
                                                            <p style="" lang="en-us">
                                                                <br lang="en-us">
                                                                <span id="item_3298_TAG_14" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="4">
                                                                    Step</span>
                                                                4:
                                                                <span id="item_3298_TAG_5_BEGIN" lang="en-us">
                                                                    <img id="CrossReference4" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__4.png" lang="en-us" data-width="122"
                                                                        data-height="14" width="122" height="14">
                                                                </span>
                                                            </p>
                                                            <p style="" lang="en-us">
                                                                &nbsp;</p>
                                                            <p style="" lang="en-us">
                                                                <span id="item_3298_TAG_15" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="5">
                                                                    Step</span>
                                                                5:
                                                                <span id="item_3298_TAG_6_BEGIN" lang="en-us">
                                                                    <img id="CrossReference5" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__5.png" lang="en-us" data-width="147"
                                                                        data-height="17" width="147" height="17">
                                                                </span>
                                                            </p>
                                                            <p style="" lang="en-us">
                                                                <br lang="en-us">
                                                                <span id="item_3298_TAG_16" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="6">
                                                                    Step</span>
                                                                6:
                                                                <span id="item_3298_TAG_7_BEGIN" lang="en-us">
                                                                    <img id="CrossReference6" src="C:/content/items/item-187-3298/item_3298_v0_item_15476_mml_svg_png__6.png" lang="en-us" data-width="104"
                                                                        data-height="17" width="104" height="17">
                                                                </span>
                                                            </p>
                                                            <p style="" lang="en-us">
                                                                &nbsp;</p>
                                                            <p style="" lang="en-us">
                                                                <span id="item_3298_TAG_17" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="3" lang="en-us" data-wl-group="7">
                                                                    Which</span>
                                                                <span id="item_3298_TAG_18" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="4" lang="en-us" data-wl-group="8">
                                                                    statement</span>
                                                                is an
                                                                <span id="item_3298_TAG_19" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="5" lang="en-us" data-wl-group="9">
                                                                    accurate</span>
                                                                interpretation of the student’s work?</p>

                                                        </div>

                                                    </td>

                                                </tr>

                                                <tr lang="es-mx">

                                                    <td class="answerCell" lang="es-mx">

                                                        <div id="OptionsContainer_3298" class="optionsContainer" role="radiogroup" aria-label="Multiple choice." aria-required="true"
                                                            lang="es-mx">

                                                            <div id="Item_OptionContainer_Response_MC_3298_A" title="Option A" class="optionContainer contextArea optionA  " role="radio"
                                                                aria-checked="false" aria-label="Option A" aria-labelledby="Item_OptionContent_Response_MC_3298_A"
                                                                tabindex="0" lang="es-mx">

                                                                <span class="striked" lang="es-mx">
                                                                </span>

                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">
                                                                    &nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3298_A" name="Item_Response_MC_3298" value="A" class="option" lang="es-mx">


                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3298_A" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        El estudiante resolvió la ecuación correctamente.</p>
                                                                    <p class="languagedivider">
                                                                        &nbsp;</p>
                                                                    <p style="" lang="en-us">
                                                                        The student solved the equation correctly.</p>
                                                                    <p class="optiondivider" lang="en-us">
                                                                        &nbsp;</p>
                                                                </div>

                                                            </div>

                                                            <div id="Item_OptionContainer_Response_MC_3298_B" title="Option B" class="optionContainer contextArea optionB  " role="radio"
                                                                aria-checked="false" aria-label="Option B" aria-labelledby="Item_OptionContent_Response_MC_3298_B"
                                                                tabindex="0" lang="es-mx">

                                                                <span class="striked" lang="es-mx">
                                                                </span>

                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">
                                                                    &nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3298_B" name="Item_Response_MC_3298" value="B" class="option" lang="es-mx">


                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3298_B" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        El estudiante cometió un error en el paso 2.</p>
                                                                    <p class="languagedivider">
                                                                        &nbsp;</p>
                                                                    <p style="" lang="en-us">
                                                                        The student made an error in
                                                                        <span id="item_3298_TAG_20" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="10">
                                                                            step</span>
                                                                        2.</p>
                                                                    <p class="optiondivider" lang="en-us">
                                                                        &nbsp;</p>
                                                                </div>

                                                            </div>

                                                            <div id="Item_OptionContainer_Response_MC_3298_C" title="Option C" class="optionContainer contextArea optionC  " role="radio"
                                                                aria-checked="false" aria-label="Option C" aria-labelledby="Item_OptionContent_Response_MC_3298_C"
                                                                tabindex="0" lang="es-mx">

                                                                <span class="striked" lang="es-mx">
                                                                </span>

                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">
                                                                    &nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3298_C" name="Item_Response_MC_3298" value="C" class="option" lang="es-mx">


                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3298_C" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        El estudiante cometió un error en el paso 5.</p>
                                                                    <p class="languagedivider">
                                                                        &nbsp;</p>
                                                                    <p style="" lang="en-us">
                                                                        The student made an error in
                                                                        <span id="item_3298_TAG_21" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="11">
                                                                            step</span>
                                                                        5.</p>
                                                                    <p class="optiondivider" lang="en-us">
                                                                        &nbsp;</p>
                                                                </div>

                                                            </div>

                                                            <div id="Item_OptionContainer_Response_MC_3298_D" title="Option D" class="optionContainer contextArea optionD  " role="radio"
                                                                aria-checked="false" aria-label="Option D" aria-labelledby="Item_OptionContent_Response_MC_3298_D"
                                                                tabindex="0" lang="es-mx">

                                                                <span class="striked" lang="es-mx">
                                                                </span>

                                                                <span class="optionClicker" style="text-indent:-9999px;overflow:hidden;" lang="es-mx">
                                                                    &nbsp;</span>
                                                                <input type="radio" id="Item_Response_MC_3298_D" name="Item_Response_MC_3298" value="D" class="option" lang="es-mx">


                                                                <div class="optionContent" id="Item_OptionContent_Response_MC_3298_D" lang="es-mx">
                                                                    <p style="" lang="es-mx">
                                                                        Solo
                                                                        <span style="font-style:italic; " lang="es-mx">
                                                                            x </span>
                                                                        = 7 es una solución a la ecuación original.</p>
                                                                    <p class="languagedivider">
                                                                        &nbsp;</p>
                                                                    <p style="" lang="en-us">
                                                                        <span id="item_3298_TAG_22" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="7" lang="en-us" data-wl-group="12">
                                                                            Only</span>
                                                                        <span id="item_3298_TAG_9_BEGIN" lang="en-us">
                                                                            <span style="font-style:italic; " lang="en-us">
                                                                                x</span>
                                                                        </span>
                                                                        <span id="item_3298_TAG_8_BEGIN" lang="en-us">
                                                                            =</span>
                                                                        7 is a solution to the original equation.</p>
                                                                    <p class="optiondivider" lang="en-us">
                                                                        &nbsp;</p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </td>

                                                </tr>

                                                <tr lang="es-mx">
                                                    <td lang="es-mx">


                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>


                                    </span>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
<div id="tool-ClosedCaptioning" class="tdsClosedCaptioning" aria-live="polite" aria-label="Captioning for current audio">
</div>
</div>@RenderSection("scripts", true)