@RenderSection("head", true)
<div id="contents" role="main">
    <div class="pageWrapper showing" aria-hidden="false">
        <div xmlns="http://www.w3.org/1999/xhtml" id="Page_Page-be98174a-5196-4064-8b7d-d944509e9db5" class="itemcount_1 layout_21 browser_chrome browserVer_67_0 platform_windows passage-collapsed passageShowing"
            data-zoom="0">

            <div class="bigTable layout21">

                <div class="thePassage contextArea showing" title="Passage" aria-hidden="false" touch-action="pan-y" tabindex="0" lang="es-mx">
                    <div class="toolsContainer passageTools" lang="es-mx">
                        <a class="toolButton passageMenu" href="#" tabindex="0" aria-label="Menu" role="button" aria-haspopup="true"
                            lang="es-mx"></a>
                        <a href="#" role="button" class="toolButton expand-collapse-passage" lang="es-mx"></a>
                    </div>
                    <!-- onmouseover="fixHighlightFocus()" -->
                    <div class="padding" lang="es-mx">
                        <h2 lang="es-mx">¡Día del Arte!
                            <p class="languagedivider">&nbsp;</p>Art Day!
                            <p style="color:#000000; " lang="en-us">&nbsp;</p>
                        </h2>
                        <p style="line-height:0.2402in; color:#000000; " lang="es-mx">Estás ayudando a tu clase de 4o a organizar un Día del Arte.</p>
                        <p style="line-height:0.2402in; color:#000000; "
                            lang="es-mx">&nbsp;</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="es-mx">Habrá tres estaciones:</p>
                        <ul style="padding-left:1.5000em; " lang="es-mx">
                            <li lang="es-mx">
                                <p style="line-height:0.2402in; color:#000000; " lang="es-mx">Pintura</p>
                            </li>
                            <li lang="es-mx">
                                <p style="line-height:0.2402in; color:#000000; " lang="es-mx">Cerámica</p>
                            </li>
                            <li lang="es-mx">
                                <p style="line-height:0.2402in; color:#000000; " lang="es-mx">Arte con tiza</p>
                            </li>
                        </ul>
                        <p style="line-height:0.2402in; color:#000000; " lang="es-mx">&nbsp;</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="es-mx">Tienes dos tareas. Ayudarás a hacer la lista de materiales y a decidir los horarios para el Día del
                            Arte. </p>
                        <p style="line-height:0.2402in; color:#000000; " lang="es-mx">&nbsp;</p>
                        <p style="line-height:0.2402in; color:#000000; text-decoration:underline; font-weight:bold; "
                            lang="es-mx">Tarea 1: Lista de materiales</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="es-mx">Tienes que asegurarte de que haya suficientes materiales en cada estación para que todos participen.
                            Vas a usar la siguiente información para hacer una lista de materiales para tu clase.</p>
                        <p style="line-height:0.2402in; color:#000000; "
                            lang="es-mx">&nbsp;</p>
                        <ul style="padding-left:1.5000em; " lang="es-mx">
                            <li lang="es-mx">
                                <p style="line-height:0.2402in; color:#000000; " lang="es-mx">Hay 24 estudiantes en tu clase.</p>
                            </li>
                            <li lang="es-mx">
                                <p style="margin-left:0in; margin-right:0in; line-height:0.2402in; text-indent:0in; color:#000000; background-color:transparent; "
                                    lang="es-mx">Cada estudiante necesita — </p>
                                <p style="margin-left:0in; margin-right:0in; line-height:0.2402in; text-indent:0in; color:#000000; "
                                    lang="es-mx">- 2 pinceles para la estación de pintura</p>
                                <p style="margin-left:0in; margin-right:0in; line-height:0.2402in; text-indent:0in; color:#000000; "
                                    lang="es-mx">- 3 libras de arcilla para la estación de cerámica</p>
                                <p style="margin-left:0in; margin-right:0in; line-height:0.2402in; text-indent:0in; color:#000000; "
                                    lang="es-mx">- 5 tizas para la estación de arte con tiza.</p>
                            </li>
                        </ul>
                        <p style="line-height:0.2402in; color:#000000; " lang="es-mx">&nbsp;</p>
                        <p style="line-height:0.2402in; color:#000000; text-decoration:underline; font-weight:bold; "
                            lang="es-mx">Tarea 2: Horarios</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="es-mx">También tienes que ayudar a planificar los horarios para el Día del Arte usando la siguiente información.</p>
                        <p
                            style="line-height:0.2402in; color:#000000; " lang="es-mx">&nbsp;</p>
                        <ul style="padding-left:1.5000em; " lang="es-mx">
                            <li lang="es-mx">
                                <p style="line-height:0.2402in; color:#000000; " lang="es-mx">Las actividades empiezan a las 9:00 a. m. y terminan a las 2:00 p. m.</p>
                            </li>
                            <li lang="es-mx">
                                <p style="line-height:0.2402in; color:#000000; " lang="es-mx">Todos los estudiantes de tu clase recorrerán juntos las tres estaciones.</p>
                            </li>
                            <li lang="es-mx">
                                <p style="line-height:0.2402in; color:#000000; " lang="es-mx">El receso debe ser de por lo menos 10 minutos.</p>
                            </li>
                            <li lang="es-mx">
                                <p style="line-height:0.2402in; color:#000000; " lang="es-mx">El tiempo total para el receso y el almuerzo juntos será de 1 hora.</p>
                            </li>
                            <li lang="es-mx">
                                <p style="line-height:0.2402in; color:#000000; " lang="es-mx">
                                    <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                        lang="es-mx">Las tres estaciones (pintura, cerámica y arte con tiza) </span>
                                    <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:bold; background-color:transparent; "
                                        lang="es-mx">no</span>
                                    <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                        lang="es-mx"> tienen que durar la misma cantidad de tiempo, pero cada una debe durar 30 minutos o más.</span>
                                </p>
                            </li>
                        </ul>
                        <p class="languagedivider">&nbsp;</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="en-us">You are helping your 4th grade class
                            <a id="word-list-16" class="its-tag TDS_WORD_LIST" data-tag="word"
                                data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="0" tabindex="0" title="lookup word"
                                role="button">organize</a> an Art Day.</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="en-us">&nbsp;</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="en-us">There will be three
                            <a id="word-list-15" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start"
                                data-word-index="3" lang="en-us" data-wl-group="1" tabindex="0" title="lookup word" role="button">stations</a>:</p>
                        <ul style="padding-left:1.5000em; " lang="en-us">
                            <li lang="en-us">
                                <p style="line-height:0.2402in; color:#000000; " lang="en-us">
                                    <span id="passage_3769_TAG_2_BEGIN" lang="en-us">Painting</span>
                                </p>
                            </li>
                            <li lang="en-us">
                                <p style="line-height:0.2402in; color:#000000; " lang="en-us">
                                    <span id="passage_3769_TAG_19" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="4" lang="en-us" data-wl-group="2">Pottery</span>
                                </p>
                            </li>
                            <li lang="en-us">
                                <p style="line-height:0.2402in; color:#000000; " lang="en-us">
                                    <span id="passage_3769_TAG_20" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="5" lang="en-us" data-wl-group="3">Chalk</span>
                                    <span id="passage_3769_TAG_4_BEGIN" lang="en-us">Art</span>
                                </p>
                            </li>
                        </ul>
                        <p style="line-height:0.2402in; color:#000000; " lang="en-us">&nbsp;</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="en-us">You have two
                            <a id="word-list-14" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start"
                                data-word-index="29" lang="en-us" data-wl-group="4" tabindex="0" title="lookup word" role="button">tasks</a>. You will help create the
                            <span id="passage_3769_TAG_21" class="its-tag" data-tag="word"
                                data-tag-boundary="start" data-word-index="6" lang="en-us" data-wl-group="5">supply list</span> and the
                            <a id="word-list-13" class="its-tag TDS_WORD_LIST" data-tag="word"
                                data-tag-boundary="start" data-word-index="8" lang="en-us" data-wl-group="6" tabindex="0" title="lookup word"
                                role="button">schedule</a> for Art Day.</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="en-us">&nbsp;</p>
                        <p style="line-height:0.2402in; color:#000000; text-decoration:underline; font-weight:bold; "
                            lang="en-us">Task 1: Supply List</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="en-us">You need
                            <span id="passage_3769_TAG_24" class="its-tag" data-tag="word" data-tag-boundary="start"
                                data-word-index="10" lang="en-us" data-wl-group="7">to make sure</span> there are
                            <span id="passage_3769_TAG_25" class="its-tag" data-tag="word"
                                data-tag-boundary="start" data-word-index="11" lang="en-us" data-wl-group="8">enough</span>
                            <span id="passage_3769_TAG_26" class="its-tag" data-tag="word" data-tag-boundary="start"
                                data-word-index="12" lang="en-us" data-wl-group="9">supplies</span> at
                            <span id="passage_3769_TAG_27" class="its-tag" data-tag="word" data-tag-boundary="start"
                                data-word-index="13" lang="en-us" data-wl-group="10">each</span>
                            <a id="word-list-12" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start"
                                data-word-index="14" lang="en-us" data-wl-group="11" tabindex="0" title="lookup word" role="button">station</a> for
                            <span id="passage_3769_TAG_29" class="its-tag" data-tag="word" data-tag-boundary="start"
                                data-word-index="15" lang="en-us" data-wl-group="12">everyone</span> to
                            <a id="word-list-11" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start"
                                data-word-index="27" lang="en-us" data-wl-group="13" tabindex="0" title="lookup word" role="button">participate</a>. You will use the following information to create a
                            <span id="passage_3769_TAG_30"
                                class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="16" lang="en-us" data-wl-group="14">list</span> of art
                            <span id="passage_3769_TAG_31" class="its-tag" data-tag="word" data-tag-boundary="start"
                                data-word-index="12" lang="en-us" data-wl-group="15">supplies</span> for your class.</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="en-us">&nbsp;</p>
                        <ul style="padding-left:1.5000em; " lang="en-us">
                            <li lang="en-us">
                                <p style="line-height:0.2402in; color:#000000; " lang="en-us">There are 24 students in your class.</p>
                            </li>
                            <li lang="en-us">
                                <p style="margin-left:0in; margin-right:0in; line-height:0.2402in; text-indent:0in; color:#000000; "
                                    lang="en-us">
                                    <span id="passage_3769_TAG_32" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="17" lang="en-us" data-wl-group="16">
                                        <span style="background-color:transparent; " lang="en-us">Each</span>
                                    </span>
                                    <span style="background-color:transparent; " lang="en-us"> student needs</span>
                                    <span style="background-color:transparent; " lang="en-us"> </span>
                                    <span id="passage_3769_TAG_10_BEGIN" lang="en-us">
                                        <span style="color:#1a1a1a; letter-spacing:normal; background-color:transparent; " lang="en-us">—</span>
                                    </span>
                                    <span style="background-color:transparent; " lang="en-us"> </span>
                                </p>
                                <p style="margin-left:0in; margin-right:0in; line-height:0.2402in; text-indent:0in; color:#000000; "
                                    lang="en-us">&nbsp;&nbsp;&nbsp;
                                    <span id="passage_3769_TAG_9_BEGIN" lang="en-us">-</span> 2 paint
                                    <span id="passage_3769_TAG_33" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="18" lang="en-us" data-wl-group="17">brushes</span> for the Painting
                                    <a id="word-list-10" class="its-tag TDS_WORD_LIST" data-tag="word"
                                        data-tag-boundary="start" data-word-index="19" lang="en-us" data-wl-group="18" tabindex="0"
                                        title="lookup word" role="button">Station</a>.</p>
                                <p style="margin-left:0in; margin-right:0in; line-height:0.2402in; text-indent:0in; color:#000000; "
                                    lang="en-us">&nbsp;&nbsp;&nbsp;
                                    <span id="passage_3769_TAG_14_BEGIN" lang="en-us">-</span> 3
                                    <span id="passage_3769_TAG_35" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="20" lang="en-us" data-wl-group="19">pounds</span> of
                                    <span id="passage_3769_TAG_36" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="21" lang="en-us" data-wl-group="20">clay</span> for the
                                    <span id="passage_3769_TAG_37" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="4" lang="en-us" data-wl-group="21">Pottery</span>
                                    <a id="word-list-9" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start"
                                        data-word-index="19" lang="en-us" data-wl-group="22" tabindex="0" title="lookup word"
                                        role="button">Station</a>.</p>
                                <p style="margin-left:0in; margin-right:0in; line-height:0.2402in; text-indent:0in; color:#000000; "
                                    lang="en-us">&nbsp;&nbsp;&nbsp;
                                    <span id="passage_3769_TAG_15_BEGIN" lang="en-us">-</span> 5 pieces of
                                    <span id="passage_3769_TAG_39" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="22" lang="en-us" data-wl-group="23">chalk</span> for the
                                    <span id="passage_3769_TAG_40" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="5" lang="en-us" data-wl-group="24">Chalk</span> Art
                                    <a id="word-list-8" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start"
                                        data-word-index="19" lang="en-us" data-wl-group="25" tabindex="0" title="lookup word"
                                        role="button">Station</a>.</p>
                            </li>
                        </ul>
                        <p style="line-height:0.2402in; color:#000000; " lang="en-us">&nbsp;</p>
                        <p style="line-height:0.2402in; color:#000000; text-decoration:underline; font-weight:bold; "
                            lang="en-us">Task 2: Schedule</p>
                        <p style="line-height:0.2402in; color:#000000; " lang="en-us">You also need to help
                            <span id="passage_3769_TAG_43" class="its-tag" data-tag="word" data-tag-boundary="start"
                                data-word-index="23" lang="en-us" data-wl-group="26">plan</span> the
                            <a id="word-list-7" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start"
                                data-word-index="8" lang="en-us" data-wl-group="27" tabindex="0" title="lookup word" role="button">schedule</a> for Art Day using the following information.</p>
                        <p style="line-height:0.2402in; color:#000000; "
                            lang="en-us">&nbsp;</p>
                        <ul style="padding-left:1.5000em; " lang="en-us">
                            <li lang="en-us">
                                <p style="line-height:0.2402in; color:#000000; " lang="en-us">The day
                                    <span id="passage_3769_TAG_45" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="24" lang="en-us" data-wl-group="28">starts</span> at
                                    <span id="passage_3769_TAG_7_BEGIN" lang="en-us">9:00</span>
                                    <span id="passage_3769_TAG_11_BEGIN" lang="en-us">a.m.</span> and ends at
                                    <span id="passage_3769_TAG_8_BEGIN" lang="en-us">2:00</span>
                                    <span id="passage_3769_TAG_12_BEGIN" lang="en-us">p.m.</span>
                                </p>
                            </li>
                            <li lang="en-us">
                                <p style="line-height:0.2402in; color:#000000; " lang="en-us">Your
                                    <span id="passage_3769_TAG_46" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="25" lang="en-us" data-wl-group="29">entire</span> class
                                    <a id="word-list-6" class="its-tag TDS_WORD_LIST" data-tag="word"
                                        data-tag-boundary="start" data-word-index="31" lang="en-us" data-wl-group="30" tabindex="0"
                                        title="lookup word" role="button">
                                        <span id="passage_3769_TAG_47" class="its-tag" data-tag="word" data-tag-boundary="start"
                                            data-word-index="26" lang="en-us"></span>will rotate
                                        <span class="its-tag" data-tag-ref="passage_3769_TAG_47" data-tag-boundary="end"
                                            lang="en-us"></span> through</a> the three
                                    <a id="word-list-5" class="its-tag TDS_WORD_LIST" data-tag="word"
                                        data-tag-boundary="start" data-word-index="3" lang="en-us" data-wl-group="32" tabindex="0"
                                        title="lookup word" role="button">stations</a> together.</p>
                            </li>
                            <li lang="en-us">
                                <p style="line-height:0.2402in; color:#000000; " lang="en-us">The Break has to be at least 10 minutes.</p>
                            </li>
                            <li lang="en-us">
                                <p style="line-height:0.2402in; color:#000000; " lang="en-us">The Break and Lunch together total 1 hour.</p>
                            </li>
                            <li lang="en-us">
                                <p style="line-height:0.2402in; color:#000000; " lang="en-us">
                                    <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                        lang="en-us">The three </span>
                                    <a id="word-list-4" class="its-tag TDS_WORD_LIST" data-tag="word" data-tag-boundary="start"
                                        data-word-index="3" lang="en-us" data-wl-group="33" tabindex="0" title="lookup word"
                                        role="button">
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                            lang="en-us">stations</span>
                                    </a>
                                    <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                        lang="en-us"> (Painting, </span>
                                    <span id="passage_3769_TAG_53" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="4" lang="en-us" data-wl-group="34">
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                            lang="en-us">Pottery</span>
                                    </span>
                                    <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                        lang="en-us">, and </span>
                                    <span id="passage_3769_TAG_54" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="5" lang="en-us" data-wl-group="35">
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                            lang="en-us">Chalk</span>
                                    </span>
                                    <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                        lang="en-us"> Art) do </span>
                                    <span id="passage_3769_TAG_13_BEGIN" lang="en-us">
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:bold; background-color:transparent; "
                                            lang="en-us">not</span>
                                    </span>
                                    <span style="font-variant:normal; text-transform:none; font-weight:normal; background-color:transparent; "
                                        lang="en-us"> </span>
                                    <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                        lang="en-us">need to be the same amount of </span>
                                    <span id="passage_3769_TAG_56" class="its-tag" data-tag="word"
                                        data-tag-boundary="start" data-word-index="32" lang="en-us" data-wl-group="36">
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                            lang="en-us">time</span>
                                    </span>
                                    <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                        lang="en-us">, but </span>
                                    <span id="passage_3769_TAG_57" class="its-tag" data-tag="word" data-tag-boundary="start"
                                        data-word-index="13" lang="en-us" data-wl-group="37">
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                            lang="en-us">each</span>
                                    </span>
                                    <span style="font-variant:normal; text-transform:none; font-style:normal; font-weight:normal; background-color:transparent; "
                                        lang="en-us"> one has to be 30 minutes or longer.</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="maskQuestions"></span>
                <div class="theQuestions">
                    <div class="padding">
                        <!-- what do we do about each question component? just keep as is, and then add new answer varioations ? -->
                        <div id="Item_2803" class="questionAnswerGroup itemContainer format_ti response_tableinput firstItem lastItem showing" aria-hidden="false"
                            touch-action="pan-y" tabindex="0" lang="es-mx">
                            <div class="questionContainer" lang="es-mx">
                                <div class="toolsContainer itemTools markComment" lang="es-mx">
                                    <a class="toolButton itemMenu" href="#" tabindex="0" aria-label="Menu" role="button" aria-haspopup="true"
                                        lang="es-mx"></a>
                                </div>
                                <h2 id="QuestionNumber_2803" class="questionNumber" lang="es-mx">2803</h2>

                                <div id="Stem_2803" class="stemContainer" lang="es-mx">
                                    <p style="line-height:0.2402in; color:#000000; " lang="es-mx">Tu siguiente tarea es ayudar a planificar los horarios para el Día del Arte usando la
                                        información de la
                                        <span style="font-weight:bold; " lang="es-mx">Tarea 2: Horarios</span>.</p>
                                    <p style="line-height:0.2402in; color:#000000; " lang="es-mx">
                                        <br lang="es-mx">Determina los horarios que debe seguir tu clase en el Día del Arte. Debes seguir
                                        el orden que indica la tabla. </p>
                                    <p class="languagedivider">&nbsp;</p>
                                    <p style="line-height:0.2402in; color:#000000; " lang="en-us">Your next task is to help
                                        <span id="item_2803_TAG_11" class="its-tag" data-tag="word"
                                            data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="38">plan</span> the
                                        <a id="word-list-3" class="its-tag TDS_WORD_LIST" data-tag="word"
                                            data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="39" tabindex="0"
                                            title="lookup word" role="button">schedule</a> for Art Day using the information from
                                        <span style="font-weight:bold; "
                                            lang="en-us">Task 2: </span>
                                        <a id="word-list-2" class="its-tag TDS_WORD_LIST" data-tag="word"
                                            data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="40" tabindex="0"
                                            title="lookup word" role="button">
                                            <span style="font-weight:bold; " lang="en-us">Schedule</span>
                                        </a>.</p>
                                    <p style="line-height:0.2402in; color:#000000; " lang="en-us">
                                        <br lang="en-us">
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                            lang="en-us">Create a </span>
                                        <a id="word-list-1" class="its-tag TDS_WORD_LIST" data-tag="word"
                                            data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="41" tabindex="0"
                                            title="lookup word" role="button">
                                            <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                                lang="en-us">schedule</span>
                                        </a>
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                            lang="en-us"> for your class </span>
                                        <span id="item_2803_TAG_15" class="its-tag" data-tag="word"
                                            data-tag-boundary="start" data-word-index="3" lang="en-us" data-wl-group="42">
                                            <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                                lang="en-us">to follow</span>
                                        </span>
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                            lang="en-us"> on Art Day. You </span>
                                        <span id="item_2803_TAG_16" class="its-tag" data-tag="word"
                                            data-tag-boundary="start" data-word-index="4" lang="en-us" data-wl-group="43">
                                            <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                                lang="en-us">must</span>
                                        </span>
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                            lang="en-us"> </span>
                                        <span id="item_2803_TAG_17" class="its-tag" data-tag="word" data-tag-boundary="start"
                                            data-word-index="5" lang="en-us" data-wl-group="44">
                                            <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                                lang="en-us">follow</span>
                                        </span>
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                            lang="en-us"> the order </span>
                                        <span id="item_2803_TAG_18" class="its-tag" data-tag="word" data-tag-boundary="start"
                                            data-word-index="6" lang="en-us" data-wl-group="45">
                                            <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                                lang="en-us">given</span>
                                        </span>
                                        <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                            lang="en-us"> in the </span>
                                        <span id="item_2803_TAG_10_BEGIN" lang="en-us">
                                            <span style="font-variant:normal; text-transform:none; font-style:normal; background-color:transparent; "
                                                lang="en-us">table.</span>
                                        </span>
                                    </p>
                                    <div align="left" lang="en-us"></div>
                                </div>
                                <!-- binding="AIR.Common.Web.taglib.PlaceHolder@3ce6a918": do not bind here. implement IUiRepeatDataElement interface instead-->
                            </div>
                            <div class="answerContainer" lang="es-mx">

                                <div id="TableContainer_2803" class="TableContainer" lang="es-mx">
                                    <table class="tableItem" style="width:22.254em; border-spacing:0;" cellpadding="0" cellspacing="0"
                                        role="group" aria-label="Fill in the table." lang="es-mx">
                                        <colgroup style="width:6.4458em; " lang="es-mx"></colgroup>
                                        <colgroup style="width:7.9998em; " lang="es-mx"></colgroup>
                                        <colgroup style="width:7.8084em; " lang="es-mx"></colgroup>
                                        <thead lang="es-mx">
                                            <tr lang="es-mx">
                                                <th scope="col" data-its-identifier="col0" colspan="3" style="vertical-align:middle; padding:0.2292em;  border:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="margin-left:0in; margin-right:0in; text-align:center; text-indent:0in; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">Horarios del Día del Arte*</p>
                                                    <p style="margin-left:0in; margin-right:0in; text-align:center; text-indent:0in; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">&nbsp;</p>
                                                    <p class="languagedivider">&nbsp;</p>
                                                    <p style="margin-left:0in; margin-right:0in; text-align:center; text-indent:0in; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="en-us">Art Day
                                                        <a id="word-list-0" class="its-tag TDS_WORD_LIST" data-tag="word"
                                                            data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="46"
                                                            tabindex="0" title="lookup word" role="button">Schedule</a>*</p>
                                                    <p style="margin-left:0in; margin-right:0in; text-align:center; text-indent:0in; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="en-us">&nbsp;</p>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody lang="es-mx">
                                            <tr style="" lang="es-mx">
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">Actividad</p>
                                                    <p class="languagedivider">&nbsp;</p>
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="en-us">Activity</p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">Hora de inicio</p>
                                                    <p class="languagedivider">&nbsp;</p>
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="en-us">Start Time</p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">Hora final</p>
                                                    <p class="languagedivider">&nbsp;</p>
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:bold; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="en-us">End Time</p>
                                                </td>
                                            </tr>
                                            <tr style="" lang="es-mx">
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">Pintura</p>
                                                    <p class="languagedivider">&nbsp;</p>
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="en-us">Painting</p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">9:00 a.m.</p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    class="ti-editable" lang="es-mx">
                                                    <p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">
                                                        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                                            spellcheck="false" class="ti-input" tabindex="0" lang="es-mx" style="text-align: center;">
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="" lang="es-mx">
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">Receso</p>
                                                    <p class="languagedivider">&nbsp;</p>
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="en-us">Break</p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    class="ti-editable" lang="es-mx">
                                                    <p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">
                                                        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                                            spellcheck="false" class="ti-input" tabindex="0" lang="es-mx" style="text-align: center;">
                                                    </p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    class="ti-editable" lang="es-mx">
                                                    <p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">
                                                        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                                            spellcheck="false" class="ti-input" tabindex="0" lang="es-mx" style="text-align: center;">
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="" lang="es-mx">
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">Céramica</p>
                                                    <p class="languagedivider">&nbsp;</p>
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="en-us">Pottery</p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    class="ti-editable" lang="es-mx">
                                                    <p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">
                                                        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                                            spellcheck="false" class="ti-input" tabindex="0" lang="es-mx" style="text-align: center;">
                                                    </p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    class="ti-editable" lang="es-mx">
                                                    <p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">
                                                        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                                            spellcheck="false" class="ti-input" tabindex="0" lang="es-mx" style="text-align: center;">
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="" lang="es-mx">
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">Almuerzo</p>
                                                    <p class="languagedivider">&nbsp;</p>
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="en-us">Lunch</p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    class="ti-editable" lang="es-mx">
                                                    <p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">
                                                        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                                            spellcheck="false" class="ti-input" tabindex="0" lang="es-mx" style="text-align: center;">
                                                    </p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    class="ti-editable" lang="es-mx">
                                                    <p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">
                                                        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                                            spellcheck="false" class="ti-input" tabindex="0" lang="es-mx" style="text-align: center;">
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="" lang="es-mx">
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">Arte con tiza</p>
                                                    <p class="languagedivider">&nbsp;</p>
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="en-us">Chalk Art</p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    class="ti-editable" lang="es-mx">
                                                    <p style="text-align:center; color:#000000; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">
                                                        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                                            spellcheck="false" class="ti-input" tabindex="0" lang="es-mx" style="text-align: center;">
                                                    </p>
                                                </td>
                                                <td style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="text-align:center; font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">2:00 p.m.</p>
                                                </td>
                                            </tr>
                                            <tr lang="es-mx">
                                                <td colspan="3" style="vertical-align:middle; padding:0.2292em;  border-left:0.06em solid #000000; border-right:0.06em solid #000000; border-bottom:0.06em solid #000000;"
                                                    lang="es-mx">
                                                    <p style="font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="es-mx">*Las horas deben escribirse usando un reloj de 12 horas.</p>
                                                    <p class="languagedivider">&nbsp;</p>
                                                    <p style="font-variant:normal; text-transform:none; color:#000000; font-style:normal; font-weight:normal; background-color:transparent; font-size:1.0000em; font-family:Verdana; "
                                                        lang="en-us">*Times
                                                        <span id="item_2803_TAG_20" class="its-tag" data-tag="word" data-tag-boundary="start"
                                                            data-word-index="4" lang="en-us" data-wl-group="47">must</span> be
                                                        <span id="item_2803_TAG_21" class="its-tag" data-tag="word"
                                                            data-tag-boundary="start" data-word-index="6" lang="en-us" data-wl-group="48">given</span> using a 12-hour clock</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@RenderSection("scripts", true)