@{
    Layout="_Layout.cshtml";
}
@section head{
    @RenderSection("head", required: true)
}
<div id="contents" role="main">
    <div class="pageWrapper showing" aria-hidden="false">
        <div xmlns="http://www.w3.org/1999/xhtml" id="Page_Page-567220f4-ce00-47e3-a480-866f02cb6307" class="subject_MATH grade_7 itemcount_1 layout_22 browser_chrome browserVer_67_0 platform_windows"
            data-zoom="0">
            <div id="Item_3561" class="multipleChoiceItem itemContainer format_gi response_grid showing" aria-hidden="false" touch-action="pan-y"
                tabindex="0" lang="es-mx">

                <table cellspacing="0" cellpadding="0" width="100%" class="bigTable noColumns" lang="es-mx">
                    <tbody lang="es-mx">
                        <tr lang="es-mx">
                            <td valign="top" align="center" lang="es-mx">
                                <div class="theQuestions" lang="es-mx">
                                    <span class="padding" lang="es-mx">
                                        <!-- wraps layouts -->

                                        <table class="structure layout22" lang="es-mx">
                                            <tbody lang="es-mx">
                                                <tr lang="es-mx">
                                                    <td lang="es-mx">

                                                        <div id="questionCell" class="questionCell" lang="es-mx">
                                                            <div class="toolsContainer itemTools markComment" lang="es-mx">
                                                                <a class="toolButton itemMenu" href="#" tabindex="0" aria-label="Menu" role="button" aria-haspopup="true" lang="es-mx"></a>
                                                            </div>
                                                            <p class="itemToolsBreak" lang="es-mx">&nbsp;</p>
                                                            <h2 id="QuestionNumber_3561" class="questionNumber" lang="es-mx">3561</h2>

                                                            <div id="Stem_3561" class="stemContainer" lang="es-mx">
                                                                <p style="line-height:1.15em; " lang="es-mx">
                                                                    <span style="" lang="es-mx">Los valores de las variables </span>
                                                                    <span style="font-style:italic; " lang="es-mx">a</span>
                                                                    <span style="" lang="es-mx">,</span>
                                                                    <span style="font-style:italic; " lang="es-mx">b</span>
                                                                    <span style="" lang="es-mx">y </span>
                                                                    <span style="font-style:italic; " lang="es-mx">c</span>
                                                                    <span style="" lang="es-mx">están graficados en la recta numérica que se muestra.
                                                                    </span>
                                                                </p>
                                                                <p style="line-height:1.15em; " lang="es-mx">&nbsp;</p>
                                                                <p style="line-height:1.15em; " lang="es-mx">
                                                                    <img id="item_3561_graphics21" src="~/Content/IMG/item_3561_v0_graphics21_png256.png" width="369" height="81"
                                                                        style="vertical-align:baseline;" lang="es-mx" data-width="369"
                                                                        data-height="81"> </p>
                                                                <p style="line-height:1.15em; " lang="es-mx">&nbsp;</p>
                                                                <p style="line-height:1.15em; " lang="es-mx">
                                                                    <span style="" lang="es-mx">Usa la gráfica para evaluar</span>
                                                                    <span style="" lang="es-mx">las expresiones de la tabla. Selecciona una columna para
                                                                        cada fila de la tabla para indicar si la expresión
                                                                        es menor que 0, igual a 0 o mayor que 0.</span>
                                                                </p>
                                                                <p class="languagedivider">&nbsp;</p>
                                                                <p style="line-height:1.15em; " lang="en-us">
                                                                    <span style="" lang="en-us">Values for variables </span>
                                                                    <span id="item_3561_TAG_5_BEGIN" lang="en-us">
                                                                        <span style="font-style:italic; " lang="en-us">a</span>
                                                                        <span style="" lang="en-us">,</span>
                                                                    </span>
                                                                    <span style="" lang="en-us"> </span>
                                                                    <span style="font-style:italic; " lang="en-us">b</span>
                                                                    <span style="" lang="en-us">, and </span>
                                                                    <span id="item_3561_TAG_2_BEGIN" lang="en-us">
                                                                        <span style="font-style:italic; " lang="en-us">c</span>
                                                                    </span>
                                                                    <span style="" lang="en-us"> are graphed on the number line shown.</span>
                                                                </p>
                                                                <p style="line-height:1.15em; " lang="en-us">&nbsp;</p>
                                                                <p style="line-height:1.15em; " lang="en-us">
                                                                    <img id="item_3561_graphics2" src="~/Content/IMG/item_3561_v0_graphics2_png256.png" width="369" height="81"
                                                                        style="vertical-align:baseline;" lang="en-us" data-width="369"
                                                                        data-height="81">
                                                                </p>
                                                                <p style="line-height:1.15em; " lang="en-us">&nbsp;</p>
                                                                <p style="line-height:1.15em; " lang="en-us">
                                                                    <span id="item_3561_TAG_7" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="1" lang="en-us" data-wl-group="0">
                                                                        <span style="" lang="en-us">Use</span>
                                                                    </span>
                                                                    <span style="" lang="en-us"> the graph to evaluate the expressions in the table. </span>
                                                                    <span id="item_3561_TAG_8" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="2" lang="en-us" data-wl-group="1">
                                                                        <span style="" lang="en-us">Select</span>
                                                                    </span>
                                                                    <span style="" lang="en-us"> one column for </span>
                                                                    <span id="item_3561_TAG_9" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="3" lang="en-us" data-wl-group="2">
                                                                        <span style="" lang="en-us">each</span>
                                                                    </span>
                                                                    <span style="" lang="en-us"> row in the table to indicate </span>
                                                                    <span id="item_3561_TAG_10" class="its-tag" data-tag="word" data-tag-boundary="start" data-word-index="4" lang="en-us" data-wl-group="3">
                                                                        <span style="" lang="en-us">whether</span>
                                                                    </span>
                                                                    <span style="" lang="en-us"> the expression is less than 0, equal to 0, or greater
                                                                        than </span>
                                                                    <span id="item_3561_TAG_4_BEGIN" lang="en-us">
                                                                        <span style="" lang="en-us">0.</span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <style>
                                                            iframe {
                                                                height: 490px;
                                                                width: 540px;
                                                                overflow: hidden;
                                                                left: 20px;
                                                                position: relative;
                                                            }

                                                            .loading {
                                                                pointer-events: none;
                                                            }

                                                            #graphic-en {
                                                                
                                                                position:relative;
                                                                top: -497px;
                                                                display: inline;
                                                            }
                                                        </style>
                                                        <script>
                                                            window.addEventListener('scroll', startup);
                                                            document.getElementsByTagName('body')[0].classList.add('loading');
                                                            var numScroll = 0;
                                                            function startup(e){
                                                                numScroll++;
                                                                window.scroll(0, 0);
                                                                if(numScroll > 2){
                                                                    window.removeEventListener('scroll', startup);
                                                                    document.getElementsByTagName('body')[0].classList.remove('loading');
                                                                }
                                                            }
                                                        </script>

                                                        <p>&nbsp;</p>
                                                        <div id="graphic-sp">
                                                        <iframe id='graphic-sp-iframe' src="~/Content/Graphic/item-187-3561-graphic-SP.html">
                                                            <p>
                                                                Your Browser does not support Iframes.
                                                            </p>
                                                        </iframe>
                                                        </div>
                                                        <div id="graphic-en" class="hidden">
                                                        <iframe id="graphic-en-iframe" src="~/Content/Graphic/item-187-3561-graphic-EN.html">
                                                            <p>
                                                                Your Browser does not support Iframes.
                                                            </p>
                                                        </iframe>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{     @RenderSection("scripts", required: true) }