@import '../Partials/main';

$hamburger: "\f0c9";

@mixin fontawesome-icon {
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin symbol($size, $content) {
  @include fontawesome-icon();
  content: $content;
  font-size: $size;
  float: right;
  position: relative;
  color: gray;
}

p {
  margin: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

%spanish-english-shared {
  margin-left: 0px;
  margin-right: 0px;
  padding: 5px;
  padding-left: 0;
}

.spanish {
  @extend %spanish-english-shared;
}

.english {
  @extend %spanish-english-shared;
  border-top: 2px solid black;
  padding-top: 25px;
  margin-top: 20px;
}

.number {
  margin: 10px;
  padding: 0px;
}

.number img {
  margin: -5px 5px 0;
}

.spanish > h2,
.english > h2 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}

h2 > .languagedivider {
  border-top: 2px solid black;
}

.languagedivider {
  margin: 0px;
  height: 0px;
}

.num-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  height: 35px;
  position: relative;
  bottom: 20px;
}

.questionNumber {
  margin-top: 5px;
  height: 30px;
  width: 60px;
  padding-top: 3px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: lightgray;
}

.hamburger-icon::before {
  @include symbol(27px, $hamburger);
  top: -3px;
}

.questionAnswerGroup .stemContainer {
  margin-top: 20px;
  margin-left: 0px;
  width: 100%;
}

.bigTable {
  display: flex;
  flex-direction: row;
}

.question-column {
  display: flex;
  justify-content: center;
}

%passage-questions-shared {
  margin: 20px;
  padding: 10px;
  border: 1px solid white;
}

.thePassage {
  width: 40%;
  border-right: 1px solid #d0d0d0;
  padding-right: 45px;
  margin-left: 20px;
  @extend %passage-questions-shared;
}

.thePassage::before {
  @include symbol(27px, $hamburger);
  right: -30px;
}

.thePassage .english {
  padding-top: 35px;
}

.theQuestions {
  width: 60%;
  margin-right: 0px;
  margin-left: 0px;
  @extend %passage-questions-shared;
}

.answerContainer {
  margin: 50px 10px 10px 0;
}

.answerContainer table {
  width: 100.2% !important;
}

.answerContainer p {
  padding: 2px;
}

.tableItem {
  border: 3px solid black;
}

.spanish-answer {
  margin: 10px;
  margin-top: 0px;
}

.english-answer {
  margin: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 15px;
  border-top: 2px solid black;
  position: relative;
}

.center {
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  background-color: rgb(198, 229, 243);
  height: 30px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.table-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.table-dividing-line {
  margin: auto;
  width: 80%;
  border-top: 2px solid black;
}

.optionContainer {
  display: flex;
  flex-direction: row;
}

.optionContainer p {
  position: relative;
  bottom: 15px;
}

.optionsContainer {
  margin-top: 30px;
}
