$hamburger: '\f0c9';

@mixin fontawesome-icon {
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin symbol($size, $content) {
    @include fontawesome-icon();
    content: $content;
    font-size: $size;
    float: right;
    position: relative;
    color: gray;
}

%spanish-english-shared {
    margin: 0 50px 30px;
    padding: 5px;
}

.spanish {
    @extend %spanish-english-shared;
}

.english {
    @extend %spanish-english-shared;
    border-top: 2px solid black;
    padding-top: 40px;
    position: relative;
}

.number{
    margin: 10px;
    padding: 0px;
}

.spanish>p, .english>p, .spanish>ul, .english>ul {
    margin: 0 10px;
}

.spanish>h2, .english>h2 {
    margin: 0 10px -10px 0;
}

.languagedivider{
    margin: 0px;
    height: 0px;
}

.questionNumber{
    margin-top: 3px;
    margin-bottom: 0;
    height: 30px;
    width: 60px;
    padding-top: 3px;
    text-align: center;
    font-size: 20px;
    background-color:rgb(194, 191, 191);
}
.stemContainer {
    border-top:1px solid lightgray;
    padding-top: 15px;
}

.bigTable{
    display: flex;
    flex-direction: row;
}

%passage-questions-shared{
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
}

.thePassage{
    width: 40%;
    @extend %passage-questions-shared;
}

.thePassage:before {
    @include symbol(27px, "\f0c9");
    right: -30px;
}

.theQuestions{
    width: 60%;
    padding-left: 32px;
    border-left: 1px solid #d0d0d0;
    @extend %passage-questions-shared;
}

.theQuestions:before {
    @include symbol(27px, "\f0c9");
    top: -3px;
    right: 2px;
}

.answerContainer{
    margin: 50px;
    border: 2px solid black;
}

.spanish-answer{
    margin: 10px;
}

.english-answer{
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 15px;
    border-top: 2px solid black;
    position: relative;  
}

p {
    margin: 0px;
}

html, body{
    height: 100%;
    width: 100%;
}

.center {
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    background-color: rgb(198, 229, 243);
    height: 30px;
    width:300px;
    border: 1px solid black;
    border-radius: 5px;
}