$hamburger: '\f0c9';

@mixin fontawesome-icon {
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin symbol($size, $content) {
    @include fontawesome-icon();
    content: $content;
    font-size: $size;
    float: right;
    position: relative;
    color: gray;
}

%spanish-english-shared {
    margin: 0 50px 30px;
    padding: 5px;
}

.spanish {
    @extend %spanish-english-shared;
}

.english {
    @extend %spanish-english-shared;
    border-top: 2px solid black;
    padding-top: 40px;
    position: relative;
}

.number{
    margin: 10px;
    padding: 0px;
}

.spanish>p, .english>p, .spanish>ul, .english>ul {
    margin: 0 10px;
}

.spanish>h2, .english>h2 {
    margin: 0 10px -10px 0;
    text-transform: uppercase;
    font-style: italic;
}

.languagedivider{
    margin: 0px;
    height: 0px;
}

.num-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    height: 35px;
}

.questionNumber {
    margin-top: 4px;
    height: 30px;
    width: 60px;
    padding-top: 4px;
    text-align: center;
    font-size: 20px;
    background-color:lightgray;
}

.hamburger-icon::before {
    @include symbol(27px, $hamburger);
    top: -3px;
}

.stemContainer {
    margin-top: 20px;
    margin-left: -47px;
    width: 107%;
}

.questionCell .stemContainer {
    margin-left: -10px;
    width: 104%;
}

.bigTable{
    display: flex;
    flex-direction: row;
}

%passage-questions-shared{
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
}

.thePassage{
    width: 40%;
    border-right: 1px solid #d0d0d0;
    padding-right: 50px;
    @extend %passage-questions-shared;
}

.thePassage::before {
    @include symbol(27px, $hamburger);
    right: -30px;
}

.theQuestions {
    width: 60%;
    margin-left: auto;
    @extend %passage-questions-shared;
}  

.answerContainer {
    margin: 50px;
    border: 2px solid black;
}

.spanish-answer {
    margin: 10px;
}

.english-answer {
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 15px;
    border-top: 2px solid black;
    position: relative;  
}

p {
    margin: 0px;
}

html, body{
    height: 100%;
    width: 100%;
}

.center {
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    background-color: rgb(198, 229, 243);
    height: 30px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}