%Share{
    margin: 50px;
    padding: 5px;
}
.Spanish, .English{
    @extend %Share;
}
.Number{
    @extend %Share;
}
.Spanish>p,.English>p,.Spanish>ul,.English>ul,.Spanish>h2,.English>h2{
    margin: 20px;
}
.Spanish_Answer, .English_Answer{
    margin: 0px;
    padding: 10px;
}
.languagedivider{
    margin: 0px;
    height: 0px;
}
.questionNumber{
    margin: 0px;
    height: 30px;
    width: 60px;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    background-color:rgb(194, 191, 191);
}

.stemContainer{
    border-top:1px solid gray;
}
.bigTable{
    display: flex;
    flex-direction: row;
}

%Passage_Question_Share{
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
}

.thePassage{
    width: 40%;
    @extend %Passage_Question_Share;
}
.theQuestions{
    width: 60%;
    @extend %Passage_Question_Share;
}

.answerContainer{
    margin: 50px;
    border: 2px solid black;
}


.center{
    align-items: center;
    justify-content: center;
}

.Icon{
    color: rgb(194, 16, 16);
    position: relative;
    right:50px;
    font-weight: 900;
    font-size: 10px;
}

p{
    margin: 0px;
}
html,body{
    height: 100%;
    width: 100%;
}


input[type="text"]{
    background-color: rgb(198, 229, 243);
    height: 30px;
    width:300px;
    border: 1px solid black;
    border-radius: 5px;
}

%Button_Share{
    border-radius: 10%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
button{
    width: 100px;
}
.button_click{
    background-color: #4CAF50; 
    border: 2px solid gray;
    color: white;
    @extend %Button_Share;
}
.button{
    background-color: rgb(240, 240, 240); 
    border: 2px solid rgb(175, 173, 173);
    color:  rgb(175, 173, 173);
    @extend %Button_Share;
}
.buttons{
    display:flex;
    flex-direction: row;
    position: relative;
    left:500px;
    width: 300px;
}
table{
    width: 80%;
}