$hamburger: '\f0c9';

@mixin fontawesome-icon {
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin symbol($size, $content) {
  @include fontawesome-icon();
  content: $content;
  font-size: $size;
  float: right;
  position: relative;
  color: gray;
  cursor: pointer;
}

.thePassage::before {
  @include symbol(27px, $hamburger);
  right: 20px;
}

%Share {
  padding: 5px;
  margin-top: 0px;
  padding-top: 40px;
}

.Spanish,
.English {
  @extend %Share;
}
.Number {
  padding-top: 0px;
  @extend %Share;
}

.spanish>h2, .english>h2 {
  margin: 0 5px 10px 0;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}

.number {
  @extend %Share;
}

.spanish-answer, .english-answer {
  margin: 30px;
  padding: 10px;
  padding-top: 10px;
}

.languagedivider {
  margin: 0px;
  height: 0px;
}

.num-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  height: 35px;
}

.hamburger::before {
  @include symbol(27px, $hamburger);
  top: -3px;
}

.questionNumber {
  margin-top: 5px;
  height: 30px;
  width: 60px;
  padding-top: 3px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: lightgray;
}

.bigTable {
  display: flex;
  flex-direction: row;
}

.bigTable table {
  width: 100%;
}

%passage-question-share {
  margin: 20px;
  padding: 10px;
  border: 1px solid white;
}

.thePassage {
  width: 40%;
  margin-left: 30px;
  @extend %passage-question-share;
}

.theQuestions {
  width: 60%;
  margin-left: 0;
  @extend %passage-question-share;
}

.answerContainer {
  margin: 30px 10px 10px 0;
}

.answerContainer table {
  width: 100.2% !important;
}

.answerContainer .spanish-answer, .answerContainer .english-answer {
  margin: 0;
  padding: 5px;
}

.tableItem{
  border:3px solid black;
}

.center {
  align-items: center;
  justify-content: center;
}

.Icon {
  color: rgb(194, 16, 16);
  position: relative;
  right: 50px;
  font-weight: 900;
  font-size: 10px;
}

p {
  margin: 0px;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

input[type='text'] {
  background-color: rgb(198, 229, 243);
  height: 30px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

%button-share {
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

button {
  width: 110px;
}

.button_click {
  background-color: #4caf50;
  border: 1px solid #3e8e41;
  box-shadow: 0 0 10px #666 !important;
  font-size: 15px;
  color: white;
  @extend %button-share;
}

.button {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(175, 173, 173);
  color: rgb(175, 173, 173);
  @extend %button-share;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.english-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.both-button {
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.zoom {
  margin-bottom: 0px;
}

.thePassage .padding {
  border-right: 1px solid gray;
}


.optionContainer{
  display: flex;
  flex-direction: row;
}

.optionContainer p {
  position: relative;
}

.optionsContainer{
  margin-top: 30px;
}
.table-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;

}

.line{
  margin-top:10px;
  border-top:2px solid black;
}