$hamburger: '\f0c9';

@mixin fontawesome-icon {

  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin symbol($size, $content) {
  @include fontawesome-icon();
  content: $content;
  font-size: $size;
  float: right;
  position: relative;
  color: gray;
}

.spanish,
.english {
  margin: 50px;
  padding: 5px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.number {
  margin: 10px;
  padding: 0px;
}

.spanish > p,
.english > p,
.spanish > ul,
.english > ul,
.spanish > div,
.english > div {
  margin: 5px;
}

.languagedivider {
  margin: 0px;
  height: 0px;
}

.num-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  height: 35px;
}

.hamburger-icon::before {
  @include symbol(27px, $hamburger);
  top: -3px;
}

.stemContainer {
  margin-top: 20px;
  margin-left: 0px;
  width: 107%;
}

.bigTable {
  display: flex;
  flex-direction: row;
}

%passage-question-shared {
  margin: 20px;
  padding: 10px;
  border: 1px solid white;
}

.thePassage {
  width: 40%;
  padding-right: 0px;
  margin-left: 0px;
  border-right: 1px solid #d0d0d0;
  @extend %passage-question-shared;
}

.thePassage::before {
  @include symbol(27px, $hamburger);
  right: 30px;
}

.theQuestions {
  margin-left: auto;
  width: 60%;
  @extend %passage-question-shared;
}

.answerContainer {
    margin: 50px;
  }
  
  .tableItem{
    border:3px solid black;
  }
.center {
  align-items: center;
  justify-content: center;
}

input[type='text'] {
  background-color: rgb(198, 229, 243);
  height: 30px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.ti-editable{
  vertical-align: middle !important; 
}

table {
  width: 95%;
}

.optionContainer{
    display: flex;
    flex-direction: row;
}

.optionContainer p{
    position: relative;
    bottom: 20px;
}

.spanish-answer,
.english-answer {
  margin: 40px;
  margin-top: 0px;
  padding: 10px;
  padding-top: 0px;
}

p {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.center {
    align-items: center;
    justify-content: center;
}

%spanish-english {
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    padding-left: 0;
}

.spanish {
    @extend %spanish-english;
}

.english {
    @extend %spanish-english;
    padding-top: 25px;
    margin-top: 20px;
}

.spanish>h2, .english>h2 {
    margin: 0 5px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}

%columns {
    margin: 20px;
    margin-top: 0;
    padding: 10px;
    border: 1px solid white;
}

.thePassage {
    @extend %columns;
    width: 40%;
    border-right: 1px solid #d0d0d0;
    padding-right: 45px;
}

.thePassage::before {
    @include symbol(27px, $hamburger);
    right: -30px;
}

.thePassage .english {
    padding-top: 35px;
}

.theQuestions {
    @extend %columns;
    width: 60%;
    margin-right: 0px;
    margin-left: 0px;
}  

.number {
    margin: 5px 10px 0;
    padding: 0px;
}

.number img {
    margin-top: 14px;
}

.num-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    height: 35px;
}

.questionNumber {
    margin-top: 5px;
    height: 30px;
    width: 60px;
    padding-top: 3px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color:lightgray;
}

.hamburger-icon::before {
    @include symbol(27px, $hamburger);
    top: -3px;
}

.spanish-answer {
    margin: 10px;
}

.english-answer {
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 15px;
    position: relative;
}


.answerContainer table {
    width: 100.2% !important;
}

.languagedivider {
    margin: 0px;
    height: 0px;
}

.questionAnswerGroup .stemContainer {
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
}

.bigTable {
    display: flex;
    flex-direction: row;
}

.table-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

input[type="text"] {
    background-color: rgb(198, 229, 243);
    height: 30px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}