.spanish, .english{
    margin: 50px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 15px;
}
.number{
    margin: 10px;
    padding: 0px;
}
.spanish>p, .english>p, .spanish>ul, .english>ul, .spanish>h2, .english>h2 {
    margin: 20px;
}

.languagedivider {
    margin: 0px;
    height: 0px;
}

.questionNumber {
    margin: 0px;
    height: 30px;
    width: 60px;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    background-color:rgb(194, 191, 191);
}

.stemContainer {
    border-top:1px solid gray;
}

.bigTable {
    display: flex;
    flex-direction: row;
}

%passage-question-shared {
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
}

.thePassage {
    width: 40%;
    @extend %passage-question-shared;
}

.theQuestions {
    width: 60%;
    @extend %passage-question-shared;
}

.answerContainer{
    margin: 50px;
    border: 2px solid black;
}

%spanish-english-before-shared{
    background-color: rgb(139, 134, 134);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    position: relative;
    bottom: 20px;
    left: 20px;
}

.spanish::before {
    content:"Español";
    @extend %spanish-english-before-shared;
}

.english::before {
    content:"English";
    @extend %spanish-english-before-shared;
}

.spanish-answer {
    margin: 10px;
}

.english-answer {
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 15px;
    border-top: 2px solid black;
    position: relative;
    
}

p {
    margin: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

.center {
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    background-color: rgb(198, 229, 243);
    height: 30px;
    width:300px;
    border: 1px solid black;
    border-radius: 5px;
}