@import '../Partials/main';

$hamburger: "\f0c9";

@mixin fontawesome-icon {
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin symbol($size, $content) {
  @include fontawesome-icon();
  content: $content;
  font-size: $size;
  float: right;
  position: relative;
  color: gray;
}

p {
  margin: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.spanish,
.english {
  margin: 50px 20px;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 15px;
  padding-left: 20px;
}

.number {
  margin: 10px;
  padding: 0px;
}

.number img {
  margin-top: -4px;
}

.spanish > p,
.english > p,
.spanish > ul,
.english > ul {
  margin-left: 20px;
}

.spanish > h2,
.english > h2 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
}

.languagedivider {
  margin: 0px;
  height: 0px;
}

.num-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  height: 35px;
}

.questionNumber {
  margin-top: 5px;
  height: 30px;
  width: 60px;
  padding-top: 4px;
  text-align: center;
  font-size: 20px;
  background-color: lightgray;
}

.hamburger-icon::before {
  @include symbol(27px, $hamburger);
  top: -3px;
}

.stemContainer {
  margin-top: -7px;
  margin-left: 0px;
  width: 100%;
}

.bigTable {
  display: flex;
  flex-direction: row;
}

%passage-question-shared {
  margin: 20px;
  padding: 10px;
  border: 1px solid white;
}

.thePassage {
  width: 40%;
  border-right: 1px solid #d0d0d0;
  padding-right: 45px;
  margin-left: 15px;
  @extend %passage-question-shared;
}

.thePassage::before {
  @include symbol(27px, $hamburger);
  right: -30px;
}

.theQuestions {
  margin-left: auto;
  width: 60%;
  @extend %passage-question-shared;
}

.answerContainer {
  margin-left: 20px;
}

.answerContainer p {
  padding: 2px;
}

.answerContainer .spanish-answer {
  margin: 0;
}

.tableItem {
  border: 1px solid gray;
}

%spanish-english-before-shared {
  background-color: rgb(139, 134, 134);
  padding: 5px 16px;
  position: relative;
  bottom: 20px;
  left: 20px;
  border-radius: 2px;
  font-family: Verdana, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.spanish::before {
  content: "Español";
  @extend %spanish-english-before-shared;
}

.english::before {
  content: "English";
  @extend %spanish-english-before-shared;
}

.spanish-answer {
  margin: 10px;
  margin-top: 0px;
}

.english-answer {
  margin: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 15px;
  border-top: 1px solid gray;
  position: relative;
  width: 100%;
}

.optionContainer {
  display: flex;
  flex-direction: row;
}

.optionContainer p {
  position: relative;
  bottom: 11px;
}

.center {
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  background-color: rgb(198, 229, 243);
  height: 30px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

table {
  width: 95%;
}

.table-dividing-line {
  margin: auto;
  width: 80%;
  border-top: 1px solid gray;
}
