$hamburger: '\f0c9';

@mixin fontawesome-icon {
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin symbol($size, $content) {
  @include fontawesome-icon();
  content: $content;
  font-size: $size;
  float: right;
  position: relative;
  color: gray;
}

.spanish,
.english {
  margin: 50px;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 15px;
}

.number {
  margin: 10px;
  padding: 0px;
}

.spanish > p,
.english > p,
.spanish > ul,
.english > ul,
.spanish > h2,
.english > h2 {
  margin: 20px;
}

.languagedivider {
  margin: 0px;
  height: 0px;
}

.num-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  height: 35px;
}

.questionNumber {
  margin-top: 5px;
  height: 30px;
  width: 60px;
  padding-top: 4px;
  text-align: center;
  font-size: 20px;
  background-color: lightgray;
}

.hamburger-icon::before {
  @include symbol(27px, $hamburger);
  top: -3px;
}

.stemContainer {
  margin-top: -7px;
  margin-left: -47px;
  width: 107%;
}

.bigTable {
  display: flex;
  flex-direction: row;
}

%passage-question-shared {
  margin: 20px;
  padding: 10px;
  border: 1px solid white;
}

.thePassage {
  width: 40%;
  border-right: 1px solid #d0d0d0;
  padding-right: 50px;
  @extend %passage-question-shared;
}

.thePassage::before {
  @include symbol(27px, $hamburger);
  right: -30px;
}

.theQuestions {
  margin-left: auto;
  width: 60%;
  @extend %passage-question-shared;
}

.answerContainer {
  margin: 50px;
  border: 2px solid black;
}

%spanish-english-before-shared {
  background-color: rgb(139, 134, 134);
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  position: relative;
  bottom: 20px;
  left: 20px;
}

.spanish::before {
  content: 'Español';
  @extend %spanish-english-before-shared;
}

.english::before {
  content: 'English';
  @extend %spanish-english-before-shared;
}

.spanish-answer {
  margin: 10px;
}

.english-answer {
  margin: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 15px;
  border-top: 2px solid black;
  position: relative;
}

p {
  margin: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
}

.center {
  align-items: center;
  justify-content: center;
}

input[type='text'] {
  background-color: rgb(198, 229, 243);
  height: 30px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

table {
  width: 95%;
}
