@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section scripts {
    
}
@section head{
    
}

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-primary">Stacked (Current)</button>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-primary">Frames</button>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-primary">Indicators</button>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-primary">Dividing Lines</button>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-primary">Toggle</button>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-primary">Hybrid - Frames and Indicators</button>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-primary">Hybrid - Frames and Lines</button>
        </div>
        <div class="col"></div>
    </div>
</div>