.thePassage{
    width: 40%;
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
}
.theQuestions{
    width: 60%;
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
}
.bigTable{
    display: flex;
    flex-direction: row;
}
.Spanish, .English{
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}
.answerContainer{
    margin-left: 25%;
    margin-right: 25%;
}
.questionNumber{
    margin: 0px;
    height: 30px;
    width: 200px;
    text-decoration-line: underline;
}
body{
    height: 100%;
}